<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziksana.persistence.assessment.personality.PersonalityMemberPersonalityTestMapper">
  <resultMap id="BaseResultMap" type="com.ziksana.domain.assessment.personality.PersonalityMemberPersonalityTest">
    <id column="MemberPersonalityTestId" jdbcType="INTEGER" property="memberPersonalityTestId" />
    <result column="CreationDate" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="DateTestStarted" jdbcType="TIMESTAMP" property="dateTestStarted" />
    <result column="DateTestEnded" jdbcType="TIMESTAMP" property="dateTestEnded" />
    <result column="CompletedIndicator" jdbcType="BIT" property="completedIndicator" />
    <result column="RepeatAfter" jdbcType="INTEGER" property="repeatAfter" />
    <result column="ModelId" jdbcType="INTEGER" property="modelId" />
    <result column="TestId" jdbcType="INTEGER" property="testId" />
    <result column="MemberRoleId" jdbcType="INTEGER" property="memberRoleId" />
    <result column="MemberId" jdbcType="INTEGER" property="memberId" />
  </resultMap>
  <sql id="Base_Column_List">
    MemberPersonalityTestId, CreationDate, DateTestStarted, DateTestEnded, CompletedIndicator, 
    RepeatAfter, ModelId, TestId, MemberRoleId, MemberId
  </sql>
  <insert id="insertSelective" parameterType="com.ziksana.domain.assessment.personality.PersonalityMemberPersonalityTest">
    insert into pstmemberpersonalitytest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberPersonalityTestId != null">
        MemberPersonalityTestId,
      </if>
      <if test="creationDate != null">
        CreationDate,
      </if>
      <if test="dateTestStarted != null">
        DateTestStarted,
      </if>
      <if test="dateTestEnded != null">
        DateTestEnded,
      </if>
      <if test="completedIndicator != null">
        CompletedIndicator,
      </if>
      <if test="repeatAfter != null">
        RepeatAfter,
      </if>
      <if test="modelId != null">
        ModelId,
      </if>
      <if test="testId != null">
        TestId,
      </if>
      <if test="memberRoleId != null">
        MemberRoleId,
      </if>
      <if test="memberId != null">
        MemberId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberPersonalityTestId != null">
        #{memberPersonalityTestId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateTestStarted != null">
        #{dateTestStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="dateTestEnded != null">
        #{dateTestEnded,jdbcType=TIMESTAMP},
      </if>
      <if test="completedIndicator != null">
        #{completedIndicator,jdbcType=BIT},
      </if>
      <if test="repeatAfter != null">
        #{repeatAfter,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="testId != null">
        #{testId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null">
        #{memberRoleId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziksana.domain.assessment.personality.PersonalityMemberPersonalityTest">
    update pstmemberpersonalitytest
    <set>
      <if test="creationDate != null">
        CreationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateTestStarted != null">
        DateTestStarted = #{dateTestStarted,jdbcType=TIMESTAMP},
      </if>
      <if test="dateTestEnded != null">
        DateTestEnded = #{dateTestEnded,jdbcType=TIMESTAMP},
      </if>
      <if test="completedIndicator != null">
        CompletedIndicator = #{completedIndicator,jdbcType=BIT},
      </if>
      <if test="repeatAfter != null">
        RepeatAfter = #{repeatAfter,jdbcType=INTEGER},
      </if>
      <if test="modelId != null">
        ModelId = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="testId != null">
        TestId = #{testId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null">
        MemberRoleId = #{memberRoleId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        MemberId = #{memberId,jdbcType=INTEGER},
      </if>
    </set>
    where MemberPersonalityTestId = #{memberPersonalityTestId,jdbcType=INTEGER}
  </update>
</mapper>