<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziksana.persistence.assessment.personality.PersonalityMemberPersonalityMapper">
  <resultMap id="BaseResultMap" type="com.ziksana.domain.assessment.personality.PersonalityMemberPersonality">
    <id column="MemberPersonalityId" jdbcType="INTEGER" property="memberPersonalityId" />
    <result column="CreationDate" jdbcType="DATE" property="creationDate" />
    <result column="PersonalityType" jdbcType="INTEGER" property="personalityType" />
    <result column="Characteristic" jdbcType="VARCHAR" property="characteristic" />
    <result column="Cluster" jdbcType="VARCHAR" property="cluster" />
    <result column="Quotient" jdbcType="VARCHAR" property="quotient" />
    <result column="Certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="MemberId" jdbcType="INTEGER" property="memberId" />
    <result column="MemberRoleId" jdbcType="INTEGER" property="memberRoleId" />
  </resultMap>
  <sql id="Base_Column_List">
    MemberPersonalityId, CreationDate, PersonalityType, Characteristic, Cluster, Quotient, 
    Certificate, MemberId, MemberRoleId
  </sql>
  <insert id="insertSelective" parameterType="com.ziksana.domain.assessment.personality.PersonalityMemberPersonality">
    insert into pstmemberpersonality
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberPersonalityId != null">
        MemberPersonalityId,
      </if>
      <if test="creationDate != null">
        CreationDate,
      </if>
      <if test="personalityType != null">
        PersonalityType,
      </if>
      <if test="characteristic != null">
        Characteristic,
      </if>
      <if test="cluster != null">
        Cluster,
      </if>
      <if test="quotient != null">
        Quotient,
      </if>
      <if test="certificate != null">
        Certificate,
      </if>
      <if test="memberId != null">
        MemberId,
      </if>
      <if test="memberRoleId != null">
        MemberRoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberPersonalityId != null">
        #{memberPersonalityId,jdbcType=INTEGER},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=DATE},
      </if>
      <if test="personalityType != null">
        #{personalityType,jdbcType=INTEGER},
      </if>
      <if test="characteristic != null">
        #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="cluster != null">
        #{cluster,jdbcType=VARCHAR},
      </if>
      <if test="quotient != null">
        #{quotient,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null">
        #{memberRoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziksana.domain.assessment.personality.PersonalityMemberPersonality">
    update pstmemberpersonality
    <set>
      <if test="creationDate != null">
        CreationDate = #{creationDate,jdbcType=DATE},
      </if>
      <if test="personalityType != null">
        PersonalityType = #{personalityType,jdbcType=INTEGER},
      </if>
      <if test="characteristic != null">
        Characteristic = #{characteristic,jdbcType=VARCHAR},
      </if>
      <if test="cluster != null">
        Cluster = #{cluster,jdbcType=VARCHAR},
      </if>
      <if test="quotient != null">
        Quotient = #{quotient,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null">
        Certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        MemberId = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null">
        MemberRoleId = #{memberRoleId,jdbcType=INTEGER},
      </if>
    </set>
    where MemberPersonalityId = #{memberPersonalityId,jdbcType=INTEGER}
  </update>
</mapper>