<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.CourseMapper">
	<sql id="Base_Column_List">
		courseid, name, courseidentifier, description, validfrom,
		validto, coursestatus, rating,
		contentsecurityneededindicator,
		courseweightage, totalcredits, extracreditsindicator,
		extracredits,additionalpropertyindicator, courseduration,
		thumbnailpicturepath, templateindicator, version, memberroleid,
		subjclassificationid
	</sql>

	<update id="updateByPrimaryKeySelective" parameterType="com.ziksana.domain.course.Course">
		update corcourse
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="courseIdentifier != null">
				courseidentifier = #{courseIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="ValidFrom != null">
				validfrom = #{ValidFrom,jdbcType=DATE},
			</if>
			<if test="ValidTo != null">
				validto = #{ValidTo,jdbcType=DATE},
			</if>
			<if test="courseStatus != null">
				coursestatus = #{courseStatus,jdbcType=INTEGER},
			</if>
			<if test="rating != null">
				rating = #{rating,jdbcType=INTEGER},
			</if>
			<if test="contentSecurityNeededIndicator != null">
				contentsecurityneededindicator =
				#{contentSecurityNeededIndicator,jdbcType=BIT},
			</if>
			<if test="courseWeightage != null">
				courseweightage = #{courseWeightage,jdbcType=INTEGER},
			</if>
			<if test="totalCredits != null">
				totalcredits = #{totalCredits,jdbcType=VARCHAR},
			</if>
			<if test="extraCreditsIndicator != null">
				extracreditsindicator =
				#{extraCreditsIndicator,jdbcType=BIT},
			</if>
			<if test="extraCredits != null">
				extracredits = #{extraCredits,jdbcType=VARCHAR},
			</if>
			<if test="additionalPropertyIndicator != null">
				additionalpropertyindicator =
				#{additionalPropertyIndicator,jdbcType=BIT},
			</if>
			<if test="courseDuration != null">
				courseduration=#{courseDuration,jdbcType=INTEGER},
			</if>
			<if test="thumbnailPicturePath != null">
				thumbnailpicturepath=#{thumbnailPicturePath,jdbcType=VARCHAR},
			</if>
			<if test="templateIndicator != null">
				templateindicator=#{templateIndicator,jdbcType=TINYINT},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="memberRoleId != null">
				memberroleid = #{memberRoleId,jdbcType=INTEGER},
			</if>
			<if test="subjClassificationId != null">
				subjclassificationid =
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</set>
		where courseid = #{courseId,jdbcType=INTEGER}
	</update>

	<insert id="saveCourse" parameterType="com.ziksana.domain.course.Course"
		useGeneratedKeys="true" keyProperty="courseId" keyColumn="courseid">
		insert into corcourse ( name,
		description, coursestatus,
		contentsecurityneededindicator,
		extracredits,
		additionalpropertyindicator, courseduration,thumbnailpicturepath, version, versionremarks,
		memberroleid, subjclassificationid) 
		values (#{name,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{courseStatusId,jdbcType=INTEGER},
		#{securityIndicator,jdbcType=BOOLEAN},
		#{extraCredits,jdbcType=VARCHAR},
		#{additionalInfoIndicator,jdbcType=BOOLEAN},
		#{courseDuration.duration,jdbcType=INTEGER},#{thumbnailPicturePath,jdbcType=VARCHAR},
		#{version,jdbcType=INTEGER}, #{versionRemarks,jdbcType=VARCHAR},
		#{accountableMember.memberRoleId,jdbcType=INTEGER},
		#{subjClassification.subjClassificationId,jdbcType=INTEGER})
		<selectKey keyProperty="courseId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>




</mapper>