<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.CourseAdditionalPeopertyMapper" >
  <resultMap id="BaseResultMap" type="com.ziksana.domain.course.CourseAdditionalPeoperty" >
    <id column="CourseAddnlPropertyId" property="courseAddnlPropertyId" jdbcType="INTEGER" />
    <result column="CreationDate" property="creationDate" jdbcType="TIMESTAMP" />
    <result column="PropertyUsageType" property="propertyUsageType" jdbcType="INTEGER" />
    <result column="PropertyName" property="propertyName" jdbcType="VARCHAR" />
    <result column="PropertyDataType" property="propertyDataType" jdbcType="INTEGER" />
    <result column="PropertyValue" property="propertyValue" jdbcType="VARCHAR" />
    <result column="Sequence" property="sequence" jdbcType="INTEGER" />
    <result column="Active" property="active" jdbcType="BIT" />
    <result column="CourseId" property="courseId" jdbcType="INTEGER" />
    <result column="MemberRoleId" property="memberRoleId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    courseAddnlPropertyId, CreationDate, PropertyUsageType, PropertyName, PropertyDataType, PropertyValue, 
    Sequence, Active, CourseId, MemberRoleId
  </sql>
  <insert id="insertSelective" parameterType="com.ziksana.domain.course.CourseAdditionalPeoperty" >
    <selectKey resultType="java.lang.Integer" keyProperty="courseAddnlPropertyId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into corcourseadditionalproperty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      courseAddnlPropertyId,
      <if test="creationDate != null" >
        CreationDate,
      </if>
      <if test="propertyUsageType != null" >
        PropertyUsageType,
      </if>
      <if test="propertyName != null" >
        PropertyName,
      </if>
      <if test="propertyDataType != null" >
        PropertyDataType,
      </if>
      <if test="propertyValue != null" >
        PropertyValue,
      </if>
      <if test="sequence != null" >
        Sequence,
      </if>
      <if test="active != null" >
        Active,
      </if>
      <if test="courseId != null" >
        CourseId,
      </if>
      <if test="memberRoleId != null" >
        MemberRoleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{courseAddnlPropertyId,jdbcType=INTEGER},
      <if test="creationDate != null" >
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="propertyUsageType != null" >
        #{propertyUsageType,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null" >
        #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyDataType != null" >
        #{propertyDataType,jdbcType=INTEGER},
      </if>
      <if test="propertyValue != null" >
        #{propertyValue,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null" >
        #{memberRoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ziksana.domain.course.CourseAdditionalPeoperty" >
    update corcourseadditionalproperty
    <set >
      <if test="creationDate != null" >
        CreationDate = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="propertyUsageType != null" >
        PropertyUsageType = #{propertyUsageType,jdbcType=INTEGER},
      </if>
      <if test="propertyName != null" >
        PropertyName = #{propertyName,jdbcType=VARCHAR},
      </if>
      <if test="propertyDataType != null" >
        PropertyDataType = #{propertyDataType,jdbcType=INTEGER},
      </if>
      <if test="propertyValue != null" >
        PropertyValue = #{propertyValue,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null" >
        Sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="active != null" >
        Active = #{active,jdbcType=BIT},
      </if>
      <if test="courseId != null" >
        CourseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="memberRoleId != null" >
        MemberRoleId = #{memberRoleId,jdbcType=INTEGER},
      </if>
    </set>
    where courseAddnlPropertyId = #{courseAddnlPropertyId,jdbcType=INTEGER}
  </update>
</mapper>