<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.LearningComponentMapper">
	<sql id="Base_Column_List"> learningcomponentid, validfrom, validto, coursestatus,
		weightage, totalcredits, extracreditsindicator, extracredits,
		learningobjectindicator, thumbnailpicturepath, courseid, memberroleid,
		learningcomponenttypeid, subjclassificationid
	</sql>
	<insert id="insertSelective" parameterType="com.ziksana.domain.course.LearningComponent">
		<selectKey order="BEFORE" keyProperty="learningComponentId"
			resultType="java.lang.Integer"> select last_insert_id() </selectKey>
		insert into corlearningcomponent -
		<trim suffixOverrides="," suffix=")" prefix="(">
			learningComponentId,
			<if test="validFrom != null"> validFrom, </if>
			<if test="validTo != null"> validTo, </if>
			<if test="courseStatus != null"> CourseStatus, </if>
			<if test="weightage != null"> Weightage, </if>
			<if test="totalCredits != null"> TotalCredits, </if>
			<if test="extraCreditsIndicator != null"> ExtraCreditsIndicator, </if>
			<if test="extraCredits != null"> ExtraCredits, </if>
			<if test="learningObjectIndicator != null"> LearningObjectIndicator, </if>
			<if test="thumbnailPicturePath != null"> ThumbnailPicturePath, </if>
			<if test="courseId != null"> CourseId, </if>
			<if test="MemberRoleId != null"> MemberRoleId, </if>
			<if test="learningComponentTypeId != null"> learningComponentTypeId, </if>
			<if test="subjClassificationId != null"> SubjClassificationId, </if>
		</trim>
		<trim suffixOverrides="," suffix=")" prefix="values (">
			#{learningComponentId,jdbcType=INTEGER},
			<if test="validFrom != null"> #{validFrom,jdbcType=DATE}, </if>
			<if test="validTo != null"> #{validTo,jdbcType=DATE}, </if>
			<if test="courseStatus != null"> #{courseStatus,jdbcType=INTEGER}, </if>
			<if test="weightage != null"> #{weightage,jdbcType=INTEGER}, </if>
			<if test="totalCredits != null"> #{totalCredits,jdbcType=VARCHAR}, </if>
			<if test="extraCreditsIndicator != null"> #{extraCreditsIndicator,jdbcType=BIT}, </if>
			<if test="extraCredits != null"> #{extraCredits,jdbcType=VARCHAR}, </if>
			<if test="learningObjectIndicator != null"> #{LearningObjectIndicator,,jdbcType=BIT}, </if>
			<if test="thumbnailPicturePath != null"> #{ThumbnailPicturePath,,jdbcType=VARCHAR}, </if>
			<if test="courseId != null"> #{courseId,jdbcType=INTEGER}, </if>
			<if test="memberRoleId != null"> #{memberRoleId,jdbcType=INTEGER}, </if>
			<if test="learningComponentTypeId != null"> #{learningComponentTypeId,jdbcType=INTEGER}, </if>
			<if test="subjClassificationId != null"> #{SubjClassificationId,jdbcType=INTEGER}, </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ziksana.domain.course.LearningComponent">
		update corlearningcomponent -
		<set>
			<if test="validFrom != null"> validFrom = #{validFrom,jdbcType=DATE}, </if>
			<if test="validTo != null"> validTo = #{validTo,jdbcType=DATE}, </if>
			<if test="courseStatus != null"> CourseStatus = #{courseStatus,jdbcType=INTEGER}, </if>
			<if test="weightage != null"> Weightage = #{weightage,jdbcType=INTEGER}, </if>
			<if test="totalCredits != null"> TotalCredits = #{totalCredits,jdbcType=VARCHAR}, </if>
			<if test="extraCreditsIndicator != null"> ExtraCreditsIndicator =
				#{extraCreditsIndicator,jdbcType=BIT},
			</if>
			<if test="extraCredits != null"> ExtraCredits = #{extraCredits,jdbcType=VARCHAR}, </if>
			<if test="learningObjectIndicator != null"> learningObjectIndicator =
				#{LearningObjectIndicator,,jdbcType=BIT},
			</if>
			<if test="thumbnailPicturePath != null"> ThumbnailPicturePath =
				#{thumbnailPicturePath,,jdbcType=VARCHAR},
			</if>
			<if test="courseId != null"> courseId=#{courseId,jdbcType=INTEGER}, </if>
			<if test="MemberRoleId != null"> MemberRoleId=#{MemberRoleId,jdbcType=INTEGER}, </if>
			<if test="learningComponentTypeId != null">
				learningComponentTypeId=#{learningComponentTypeId,jdbcType=INTEGER},
			</if>
			<if test="subjClassificationId != null"> SubjClassificationId =
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</set>
		where learningcomponentid = #{learningComponentId,jdbcType=INTEGER}
	</update>

	<insert id="saveLearningComponent" parameterType="com.ziksana.domain.course.LearningComponent"
		useGeneratedKeys="true" keyProperty="learningComponentId" keyColumn="learningcomponentid">
		insert into corlearningcomponent (validfrom,
		validto, name, description, coursestatus, weightage, totalcredits,
		extracreditsindicator, extracredits, prescribedlcduration,
		prescribedlcdurationunit, learningobjectindicator, memberroleid,
		learningcomponenttypeid)
		values (#{validFrom,jdbcType=DATE},
		#{validTo,jdbcType=DATE}, #{name,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR}, #{courseStatusId,jdbcType=INTEGER},
		#{weightage,jdbcType=INTEGER}, #{totalCredits,jdbcType=VARCHAR},
		#{extraCreditsIndicator,jdbcType=BIT},
		#{extraCredits,jdbcType=VARCHAR},
		#{prescribedLCDuration.duration,jdbcType=INTEGER},
		#{prescribedLCDuration.durationUnits,jdbcType=INTEGER},
		#{learningObjIndicator,jdbcType=INTEGER},
		#{authoredMember.memberRoleId,jdbcType=INTEGER},
		#{learningComponentType.learningComponentTypeId,jdbcType=INTEGER} )
		<selectKey keyProperty="learningComponentId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

</mapper>