<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.LearningComponentTagcloudMapper">

	<insert id="save" parameterType="com.ziksana.domain.course.CourseTagcloud"
		useGeneratedKeys="true" keyProperty="courseTagCloudId" keyColumn="ID">
		
		insert into corlearningcomponenttagcloud
		<trim prefix="(" suffix=")" suffixOverrides=",">
			creationdate,
			<if test="tagName!=null">
				tagname,
			</if>
			<if test="tagType!=null">
				tagtype,
			</if>
			<if test="learningComponentId !=null">
				learningComponentId,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			sysdate(),
			<if test="tagName!=null">
				#{tagName,jdbcType=VARCHAR},
			</if>
			<if test="tagType !=null">
				#{tagTypeId,jdbcType=INTEGER},
			</if>
			<if test="learningComponentId !=null">
				#{learningComponentId,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="courseTagCloudId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

	<update id="update" parameterType="com.ziksana.domain.course.CourseTagcloud">
		update corlearningcomponenttagcloud
		<set>
			tagname=#{tagName,jdbcType=VARCHAR},
		</set>
		where
		LearningComponentId = #{learningComponentId,jdbcType=INTEGER}
	</update>
</mapper>