<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.SocializeMapper">

	<insert id="saveComponentForReview"
		parameterType="com.ziksana.domain.course.LearningContentReviewProgress"
		useGeneratedKeys="true" keyProperty="reviewProgressId" keyColumn="reviewprogressid">
		insert into corenrichment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="startdate != null">
				startdate,
			</if>
			<if test="enddate != null">
				enddate,
			</if>
			<if test="duration != null">
				duration,
			</if>
			<if test="durationunits != null">
				durationunits,
			</if>
			<if test="averagerating != null">
				averagerating,
			</if>
			<if test="degreeofcompletion != null">
				degreeofcompletion,
			</if>
			<if test="coursestatus != null">
				coursestatus,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="courseid != null">
				courseid,
			</if>
			<if test="learningcomponentid != null">
				learningcomponentid,
			</if>
			<if test="leraningcomponentcontentid != null">
				leraningcomponentcontentid,
			</if>
			<if test="authoringmemberroleid != null">
				authoringmemberroleid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			sysdate(),
			<if test="endDate != null">
				#{endDate,jdbcType=DATE},
			</if>
			<if test="duration != null">
				#{duration.duration,jdbcType=INTEGER},
			</if>
			<if test="duration != null">
				#{duration.durationUnits,jdbcType=INTEGER},
			</if>
			<if test="averagerating != null">
				#{averageRating,jdbcType=INTEGER},
			</if>
			<if test="degreeofcompletion != null">
				#{degreeOfCompletion,jdbcType=INTEGER},
			</if>
			<if test="coursestatus != null">
				#{courseStatus,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="courseid != null">
				#{course.courseId,jdbcType=INTEGER},
			</if>
			<if test="learningComponent != null">
				#{learningComponent.learningComponentId,jdbcType=INTEGER},
			</if>
			<if test="learningComponentContent != null">
				#{learningComponentContent.learningComponentContentId,jdbcType=INTEGER},
			</if>
			<if test="authoringMemberRole != null">
				#{authoringMemberRole.memberRoleId,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="reviewProgressId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>


	<insert id="saveRefenceContent" parameterType="com.ziksana.domain.course.ContentEnrichment"
		useGeneratedKeys="true" keyProperty="contentEnrichmentId" keyColumn="contentenrichmentid">
		insert into corcontentenrichment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="startTime != null">
				StartTime,
			</if>
			<if test="endTime != null">
				EndTime,
			</if>
			<if test="linkType != null">
				LinkType,
			</if>
			<if test="linkElement != null">
				LinkElement,
			</if>
			<if test="linkDescription != null">
				LinkDescription,
			</if>
			<if test="linkItemAuthor != null">
				LinkItemAuthor,
			</if>
			<if test="linkItemCost != null">
				LinkItemCost,
			</if>
			<if test="linkSource != null">
				LinkSource,
			</if>
			<if test="active != null">
				Active,
			</if>
			<if test="isdelete != null">
				isdelete,
			</if>
			<if test="enrichmentid != null">
				enrichmentid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{enrichmentId,jdbcType=INTEGER},
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="linkType != null">
				#{linkTypeId,jdbcType=INTEGER},
			</if>
			<if test="linkElement != null">
				#{linkElement,jdbcType=VARCHAR},
			</if>
			<if test="linkDescription != null">
				#{linkDescription,jdbcType=VARCHAR},
			</if>
			<if test="linkItemAuthor != null">
				#{linkItemAuthor,jdbcType=VARCHAR},
			</if>
			<if test="linkItemCost != null">
				#{linkItemCost,jdbcType=INTEGER},
			</if>
			<if test="linkSource != null">
				#{linkSourceId,jdbcType=INTEGER},
			</if>
			<if test="active != null">
				#{active,jdbcType=BIT},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=BIT},
			</if>
			<if test="enrichment.enrichmentId != null">
				#{enrichment.enrichmentId,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="contentEnrichmentId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>

	<update id="updateContentEnrichment" parameterType="com.ziksana.domain.course.ContentEnrichment">
		update corContentEnrichment
		<set>
			<if test="startTime != null">
				startTime = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="linkType != null">
				linkTypeId = #{linkTypeId,jdbcType=INTEGER},
			</if>
			<if test="linkElement != null">
				linkElement = #{linkElement,jdbcType=VARCHAR},
			</if>
			<if test="linkDescription != null">
				linkDescription = #{linkDescription,jdbcType=VARCHAR},
			</if>
			<if test="linkItemAuthor != null">
				linkItemAuthor = #{linkItemAuthor,jdbcType=VARCHAR},
			</if>
			<if test="linkItemCost != null">
				linkItemCost = #{linkItemCost,jdbcType=INTEGER},
			</if>
			<if test="linkSource != null">
				linkSourceId = #{linkSourceId,jdbcType=INTEGER},
			</if>
		</set>
		where contentenrichmentid = #{contentEnrichmentId,jdbcType.INTEGER}
	</update>


	<!-- <insert id="saveReference" parameterType="com.ziksana.domain.course.Enrichment" 
		useGeneratedKeys="true" keyProperty="enrichmentId" keyColumn="enrichmentid"> 
		insert into corenrichment ( creationdate, active, visibility, overrideat, 
		learningcontentid, creatormemberroleid) values (sysdate(), #{active,jdbcType=BOOLEAN}, 
		#{visibilityId,jdbcType=INTEGER}, #{overrideAt,jdbcType=INTEGER}, #{learningContent.learningContentId,jdbcType=INTEGER}, 
		#{creatorMemberPersona.memberRoleId,jdbcType=INTEGER}) <selectKey keyProperty="enrichmentId" 
		resultType="int" order="AFTER"> SELECT LAST_INSERT_ID(); </selectKey> </insert> -->

	<!-- <insert id="saveRefenceContent" parameterType="com.ziksana.domain.course.ContentEnrichment" 
		useGeneratedKeys="true" keyProperty="contentEnrichmentId" keyColumn="contentenrichmentid"> 
		insert into corcontentenrichment (starttime, endtime, linktype, linkelement, 
		linkdescription, linkitemcost, linksource, active, isdelete, enrichmentid 
		) values (#{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
		#{linkTypeId,jdbcType=INTEGER}, #{linkElement,jdbcType=VARCHAR}, #{linkDescription,jdbcType=VARCHAR}, 
		#{linkItemCost,jdbcType=INTEGER}, #{linkSourceId,jdbcType=INTEGER}, #{active,jdbcType=BOOLEAN}, 
		#{isDelete,jdbcType=BOOLEAN}, #{enrichment.enrichmentId,jdbcType=INTEGER}) 
		}) <selectKey keyProperty="contentEnrichmentId" resultType="int" order="AFTER"> 
		SELECT LAST_INSERT_ID(); </selectKey> </insert> -->
</mapper>