*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# Eclipse and other stuff
.metadata/
.classpath
.project
.settings/
.settings/**/*
target/
target/**/*
Servers/

# OS, junk files
[Tt]humbs.db
*.DS_Store
*.bak
~$*
