<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziksana.persistence.assessment.TestQuestionMapper">
	<resultMap id="BaseResultMap" type="com.ziksana.domain.assessment.TestQuestion">
		<id column="TestQuestionId" jdbcType="INTEGER" property="testQuestionId" />
		<result column="CreationDate" jdbcType="TIMESTAMP" property="creationDate" />
		<result column="Active" jdbcType="BIT" property="active" />
		<result column="PointsIfCorrect" jdbcType="INTEGER" property="pointsIfCorrect" />
		<result column="ExtraCreditPoints" jdbcType="INTEGER" property="extraCreditPoints" />
		<result column="PenaltyIfIncorrectIndicator" jdbcType="BIT"
			property="penaltyIfIncorrectIndicator" />
		<result column="PenaltyFactor" jdbcType="INTEGER" property="penaltyFactor" />
		<result column="AnswerWithinTime" jdbcType="INTEGER" property="answerWithinTime" />
		<result column="QuestionContentMarkup" jdbcType="VARCHAR"
			property="questionContentMarkup" />
		<result column="VideoAnswerAllowedIndicator" jdbcType="BIT"
			property="videoAnswerAllowedIndicator" />
		<result column="AudioAnwerAllowedIndicator" jdbcType="BIT"
			property="audioAnwerAllowedIndicator" />
		<result column="AssignmentTestId" jdbcType="INTEGER" property="assignmentTestId" />
		<result column="QuestionBankId" jdbcType="INTEGER" property="questionBankId" />
	</resultMap>
	<sql id="Base_Column_List">
		TestQuestionId, CreationDate, Active, PointsIfCorrect, ExtraCreditPoints,
		PenaltyIfIncorrectIndicator,
		PenaltyFactor, AnswerWithinTime, QuestionContentMarkup, VideoAnswerAllowedIndicator,
		AudioAnwerAllowedIndicator, AssignmentTestId, QuestionBankId
	</sql>

	<insert id="saveTestQuestion" parameterType="com.ziksana.domain.assessment.TestQuestion"
		useGeneratedKeys="true" keyProperty="testQuestionId" keyColumn="testquestionid">
		insert into asmtestquestion
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="creationdate != null">
				creationdate,
			</if>
			<if test="active != null">
				active,
			</if>
			<if test="pointsifcorrect != null">
				pointsifcorrect,
			</if>
			<if test="extracreditpoints != null">
				extracreditpoints,
			</if>
			<if test="penaltyifincorrectindicator != null">
				penaltyifincorrectindicator,
			</if>
			<if test="penaltyfactor != null">
				penaltyfactor,
			</if>
			<if test="answerwithintime != null">
				answerwithintime,
			</if>
			<if test="questionContentMarkup != null">
				questioncontentmarkup,
			</if>
			<if test="videoanswerallowedindicator != null">
				videoanswerallowedindicator,
			</if>
			<if test="audioanwerallowedindicator != null">
				audioanwerallowedindicator,
			</if>
			<if test="testid != null">
				testid,
			</if>
			<if test="questionbankid != null">
				questionbankid,
			</if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			sysdate(),
			<if test="active != null">
				#{active, jdbcType=BOOLEAN},
			</if>
			<if test="pointsIfCorrect != null">
				#{pointsIfCorrect,jdbcType=INTEGER},
			</if>
			<if test="extraCreditPoints != null">
				#{extraCreditPoints,jdbcType=INTEGER},
			</if>
			<if test="isPenaltyIfIncorrect != null">
				#{isPenaltyIfIncorrect,jdbcType=BIT},
			</if>
			<if test="penaltyMarks != null">
				#{penaltyMarks,jdbcType=INTEGER},
			</if>
			<if test="answerWithinTime != null">
				#{answerWithinTime,jdbcType=INTEGER},
			</if>
			<if test="questionContentMarkup != null">
				#{questionContentMarkup,jdbcType=VARCHAR},
			</if>
			<if test="isVideoAnswerAllowed != null">
				#{isVideoAnswerAllowed,jdbcType=BIT},
			</if>
			<if test="isAudioAnwerAllowed != null">
				#{isAudioAnwerAllowed,jdbcType=BIT},
			</if>
			<if test="test != null">
				#{test.testId,jdbcType=INTEGER},
			</if>
			<if test="questionBank != null">
				#{questionBank.questionBankId, jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="testQuestionId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>


	<update id="updateTestQuestion" parameterType="com.ziksana.domain.assessment.TestQuestion">
		update asmtestquestion
		<set>
			<if test="pointsIfCorrect != null">
				pointsIfCorrect = #{pointsIfCorrect,jdbcType=INTEGER},
			</if>
			<if test="extraCreditPoints != null">
				extraCreditPoints =
				#{extraCreditPoints,jdbcType=INTEGER},
			</if>
			<if test="isPenaltyIfIncorrect != null">
				penaltyifincorrectindicator =
				#{isPenaltyIfIncorrect,jdbcType=BIT},
			</if>
			<if test="penaltyMarks != null">
				penaltyfactor = #{penaltyMarks,jdbcType=INTEGER},
			</if>
			<if test="answerWithinTime != null">
				answerWithinTime = #{answerWithinTime,jdbcType=INTEGER},
			</if>
			<if test="questionContentMarkup != null">
				questionContentMarkup =
				#{questionContentMarkup,jdbcType=VARCHAR},
			</if>
			<if test="isVideoAnswerAllowed != null">
				videoanswerallowedindicator =
				#{isVideoAnswerAllowed,jdbcType=BIT},
			</if>
			<if test="isAudioAnwerAllowed != null">
				audioanwerallowedindicator =
				#{isAudioAnwerAllowed,jdbcType=BIT},
			</if>
			<if test="test != null">
				testId = #{test.testId,jdbcType=INTEGER},
			</if>
			<if test="questionBank != null">
				questionBankId = #{questionBank.questionBankId,
				jdbcType=INTEGER},
			</if>
		</set>
		where testquestionid = #{testQuestionId,jdbcType=INTEGER}
	</update>
</mapper>