<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.todos.TodoMapper">

	<select id="getTodos" resultMap="todoResultMap" parameterType="int">
		select
		*
		from
		memmembernotification n
		join utllookup l ON
		n.NotificationType=l.LookupId
		join utllookupvalue v ON
		l.LookupId=v.LookupId
		where l.CategoryName='memmembernotification' and
		v.LookupValue='Ztodo' and
		n.ForMemberRoleId=#{userMemberRoleId}
	</select>

	


	<insert id="createTodo" parameterType="com.ziksana.domain.todo.Todo"
		useGeneratedKeys="true" keyProperty="MemberNotificationId">
		insert into
		memmembernotification(Category,ActivationDate,CreationDate,NotificationType,NotificationContent,Priority,ForMemberRoleId,CreatingMemberRoleId)
		values(#{category}, #{activationDate}, #{creationDate},
		#{notificationType},
		#{description}, #{priority},
		#{forMember.memberRoleId},
		#{creatingMember.memberRoleId} )
	</insert>

	<update id="updateTodo" parameterType="com.ziksana.domain.todo.Todo">
		update memmembernotification
		<set>
			<if test="category != null">Category=#{category},</if>
			<if test="activationDate != null">ActivationDate=#{activationDate},</if>
			<if test="creationDate != null">CreationDate=#{creationDate},</if>
			<if test="notificationType != null">NotificationType=#{notificationType},</if>
			<if test="description != null">Description=#{description},</if>
			<if test="priority != null">Priority=#{priority},</if>
		</set>
		where
		MemberNotificationId = #{id}
	</update>

	<delete id="deleteTodo" parameterType="int">
		delete from
		memmembernotification where MemberNotificationId =
		#{memberNotificationId}
	</delete>

	<resultMap id="todoResultMap" type="com.ziksana.domain.todo.Todo">
		<result property="id" column="MemberNotificationId" />
		<result property="category" column="Category" />
		<result property="activationDate" column="ActivationDate" />
		<result property="creationDate" column="CreationDate" />
		<result property="notificationType" column="NotificationType" />
		<result property="description" column="NotificationContent" />
		<result property="priority" column="Priority" />
	</resultMap>
</mapper>