.contact-pic, .contact-pic a {
    display: block;
   width: 30px;
   height: 30px;
   
  
   -moz-border-radius: 0px; 
   -webkit-border-radius: 0px; 
   border-radius: 0px;
  
}
ul.contact-list{ clear:both; float:left; margin-left: 5px;}
.contact-list .member {float:left;  margin:5px 6px 5px 0;}

.main-pic {
    height: 87px;
    width: 87px;
	margin-right:10px;
}


#Soc_left
{
float:left;	
margin-left:5px;
}

#Soc_right
{
float:right;	
}

.socmaintabs
{
	margin-left:-40px;	
	margin-bottom:17px;
	margin-top:20px;
}

.socmaintabs ul li
{
	
display:inline;
background:#F8F8F8;
margin-left:0px;
padding:8px;
border:1px solid #CCC;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;

}

.socmaintabs ul li a
{
text-decoration:none;
color:#999;
}

.socmaintabs ul li a:hover
{
text-decoration:none;
color:#333333;
}


.socbuttons
{
float:right;	
}

#ckTr{
	cursor:pointer;

}

#li-1
{
	border: 1px solid #ccc;
	padding:10px 0px;
}

#li-2
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:10px 0px;
}

#li-3
{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding:10px 0px;
}


#form1
{
	margin-top:-8px;
	margin-left:6px;
width:450px;
height:150px;
border:1px solid #CCCCCC;
background-color:#F8F8F8;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 05px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 05px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 05px;

}

#form2
{
	margin-top:-8px;
	margin-left:6px;
width:450px;
height:150px;
border:1px solid #CCCCCC;
background-color:#F8F8F8;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 05px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 05px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 05px;

}

#form3
{
	margin-top:-8px;
	margin-left:6px;
width:450px;
height:150px;
border:1px solid #CCCCCC;
background-color:#F8F8F8;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 05px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 05px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 05px;

}

#form4
{
	margin-top:-8px;
	margin-left:6px;
width:450px;
height:150px;
border:1px solid #CCCCCC;
background-color:#F8F8F8;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 05px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 05px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 05px;

}

#form1 ul li
{
	list-style: none;
	padding-left: 10px;
}

#form2 ul li
{
	list-style: none;
	padding-left: 10px;
}

#form3 ul li
{
	list-style: none;
	padding-left: 10px;
}
#form4 ul li
{
	list-style: none;
	padding-left: 10px;
}


.leftSocialize
{
	float:left;	
	width:200px;
	height: 600px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:10px;
	border:1px solid #CCC;
	margin-right:10px;
}

.rightsocialize
{
	float:left;
	width:700px;
	height: 580px;
	background-image:url(images/background-pattern.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: 10px;
	overflow:scroll;
	overflow-x: hidden; 
	border:1px solid #CCC;
}

.socialcontainer
{
	
}

/*** Socialize page Sundip Shah***/

._cTitle
{
	float: left;
}

._cType
{
	float: left;
	padding-left: 5px;
}

.search
{
	clear: both;
	padding-top: 10px;
}



._type{
	margin-left: 100px;
}

.demo{
	margin-top: 5px;
}

.btn
{
	border-style:groove;
	background-color:#CCCCCC;
	}
.btn:hover
{
	background-image:url(images/background-pattern.jpg);
	
}

._pR{
	padding:5px;
	border-bottom:1px solid #CCC;
	
}

._pTitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	clear:both;
	padding-top: 10px;
	color: #333;
}
._pPara{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #333;
}