@charset "utf-8";
/* CSS Document */

.administratorcontainer
{
height:1000px; 
width:980px;
}

.institutionitemscontainer
{
width:220px; height:900px; float:left;
border:1px solid #ccc;
padding:5px;

}

.institutionitems
{
	
}

.institutionselect
{
	
}

.insitutionitemcontent
{
	
}


.institutionselements
{
width:220px;
	
}


.learningprogramscontainer
{
width:220px; height:900px; float:left;
border:1px solid #ccc;
padding:5px;

}

.learningprogramsitems
{
	
}

.learningprogramselect
{
	
}

.learningprogramscontent
{
	
}


.learningprogramselements
{
width:220px;
	
}





.facultycontainer
{
width:220px; height:900px; float:left;
border:1px solid #ccc;
padding:5px;

}

.facultyitems
{
	
}

.facultyselect
{
	
}

.facultycontent
{
	
}


.facultyelements
{
width:220px;
	
}






.Miscllaneouscontainer
{
width:250px; height:900px; float:left;
border:1px solid #ccc;
padding:5px;

}

.Miscllaneousitems
{
	
}

.Miscllaneousselect
{
	
}

.Miscllaneouscontent
{
	
}


.Miscllaneouselements
{
margin-top:20px;
width:245px;

	
}

.Miscllaneousisotope

{
list-style:none;
margin-top:20px;

}



.Miscllaneousisotope li
{
display:inline;
}


.Miscllaneoustable
{
border:1px solid #ccc; font-family:verdana; width:250px;
width:245px;
overflow:scroll;
overflow-x: hidden;
padding:3px;
height:200px;
}











.rounded-list
{
width:220px;
	
}

ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	margin-left:5px;
	
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list p{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: rgba(221, 221, 221, 0.39);
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
}

.rounded-list p:hover{
	background: #E4E4E4;
}


.rounded-list p:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #7EB9E5;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:11px;
	
	padding:0;
	width:220px;
}

	#toggle-view li {
		margin:10px;
		border-bottom:1px solid #ccc;
		position:relative;
		cursor:pointer;
	}
	
	#toggle-view h3 {
		margin:0;
		font-size:14px;
	}

	#toggle-view span {
	position:absolute;
	right:7px;
	top:7px;
	color:#ccc;
	font-size:13px;
	}
	
	#toggle-view .panel {
		margin:5px 0;
		display:none;
	}	




.reviewtable table, td{
	font:11px verdana;
}
.reviewtable table{width:100%;border-collapse:collapse;margin:1em 0;}
.reviewtable th, td{text-align:left;padding:.5em;}
.reviewtable th{background:#328aa4 url(tr_back.gif) repeat-x;color:#fff;}
.reviewtable td{background:#e5f1f4;}

/* tablecloth styles */

.reviewtable tr.even td{background:#FBFBFB;}
.reviewtable tr.odd td{background:#fff;}



.reviewtable td.over, tr.even td.over, tr.odd td.over{background:#CFDFEB; cursor:pointer;}
.reviewtable td.down, tr.even td.down, tr.odd td.down{background:#CFDFEB}
.reviewtable td.selected, tr.even td.selected, tr.odd td.selected{background:#6D9EC5;color:#fff;}

/* use this if you want to apply different styleing to empty table cells*/
.reviewtable td.empty, tr.odd td.empty, tr.even td.empty{background:#fff;}