.submain
{
overflow-y:hidden;
 overflow-x: hidden;
}

.Maindefine
{

 height:450px; 
 width:450px;
 background-color:#FCFCFC;
 
}

.firstcontainer
{
height:75px;	
background-color:#F4F4F4;
margin-bottom:20px;

}

.firstcontainer2
{
height:75px;	
background-color:#EFEFEF;
margin-bottom:12px;
}



.defineimage2
{
margin-top:5px;	
margin-left:10px;
padding:5px;
float:left;	
border:5px solid #D2D2D2;
}
h3{

font-family:"Verdana"; 
color:#0066CC; 
font-size: 18px;
 font-weight: bold;"
}
.define:hover
{
text-decoration:none;
}
.submain
{
	overflow:auto;
 overflow-x: hidden;
  

}

.Maindefine
{

 height:450px; 
 width:450px;
 background-color:#FCFCFC;
 
}

.firstcontainer
{
height:100px;	
background-color:#F4F4F4;
margin-bottom:25px;

}

.firstcontainer2
{
height:100px;	
background-color:#EFEFEF;
margin-bottom:25px;
}



.defineimage2
{
margin-top:5px;	
margin-left:10px;
padding:5px;
float:left;	
border:5px solid #D2D2D2;
}

.define:hover
{
text-decoration:none;
}

