
cufon{text-indent:0!important;}@media screen,projection{cufon{display:inline!important;display:inline-block!important;position:relative!important;vertical-align:middle!important;font-size:1px!important;line-height:1px!important;}cufon cufontext{display:-moz-inline-box!important;display:inline-block!important;width:0!important;height:0!important;overflow:hidden!important;text-indent:-10000in!important;}cufon canvas{position:relative!important;}}@media print{cufon{padding:0!important;}cufon canvas{display:none!important;}}
.lnchwrapper
{
height:550px;	
border:1px solid #fff;
background: #ddd;

}
.maincontainer
{
width: 1000px;
margin-right: auto;
margin-left: auto;	
height:100px;
}
.navcontainer
{
width: 1000px;
margin-bottom:20px;	
/*border-bottom:1px solid #ccc;*/
/*moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;*/
/*border:1px solid #ccc;*/
}
.lnchlogo
{
	float:left;
}

.lnchaccount
{
float:right;
background-color: #6D9EC5;	
margin-right:22px;

}

.lnchaccountleft
{
float:left;	
}

.lnchaccountright
{
float:right;
}



.navlinks
{
/*border:1px solid #ccc;*/
}

.navsublinks
{
float:right;	
/*border:1px solid #ccc;*/
font-family: 'Signika', sans-serif;
font-weight: bold;
font-size: 18px;
color: #666;
}
.navquit
{
font-family: 'Signika', sans-serif;
font-weight: bold;
font-size: 20px;
color:grey;
}
.navsublinks a
{
font-family: 'Signika', sans-serif;
font-weight: bold;
font-size: 18px;
color:#5B809E;
}


.navsublinks ul
{
list-style:none;	
}

.navsublinks li
{
	display:inline;
	padding-right:10px;
	/*border-right:2px solid #ccc;*/
	padding-left:10px;
}

.lnchcontent
{
/*border:1px solid #ccc;*/
margin-bottom:20px;
border:1px solid green;
}

.lnchelement
{
	width:530px;
	float:left;
   /* border:1px solid #ccc;*/
	margin-left:20px;
			
}

.elementlinks
{
	float:right;
}

.elementlinks ul
{
list-style:none;	
}

.elementlinks li
{
	display:inline;
	padding-left:10px;
	
}

.lnchrightnavlinks
{
	float:right;
	width:380px;
	margin-top:20px;
	margin-right:20px;
	/*border:1px solid #ccc;*/

}

.lnchrightnavlinks P
{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	border-bottom:1px dashed #6D9EC5;
	background-color:#5B809E;
	padding:5px;
	border: 1px solid rgba(204, 204, 204, 0.58);
	margin-bottom:10px;
	
}

.lnchrightnavlinks ul
{
	padding-top:10px;
}

.lnchrightnavlinks li
{
	padding:10px;

}

.lnchrightnavlinks li a img
{

  padding-right:15px;
}

.lnchrightnavlinks li a
{
  font-size:15px;
  line-height:35px;
}

.lnchrightnavlinks li a:hover
{
  color:#ec4d23;
  text-decoration:none;
 }

 #signin_menu{
 top:20.5px;
 }


.clearfix {
	float: none;
	clear: both;
}


.slide-up-boxes a {
background: #fcfff4;
background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead));
background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

border: 1px solid #CCCCCC;
border-radius: 3px 3px 3px 3px;
box-shadow: 2px 2px 2px #222222;
display: inline-block;
height: 75px;
 margin: 0 0.5em 0.5em 0;
overflow: hidden;
padding: 10px;
 text-decoration: none;
 width: 75px;
		}
.slide-up-boxes h5 { 
color: #2A659B; 
text-align:center;
height:100px; 
margin-top: 10px;
font: bold 12px/2.5em Tahoma;    /* Vertically center text by making line height equal to height */
 opacity: 1;
 -webkit-transition: all 0.2s linear; 
 -moz-transition: all 0.2s linear; 
-o-transition: all 0.2s linear;
		}
		
		.slide-up-boxes a:hover h5 { 
			margin-top: -100px; 
			opacity: 0; 
		}
		
		.slide-up-boxes div {
		  border-radius: 2px 2px 2px 2px;
		  bottom: 0;
		  color: white;
		  display: inline-block;
		  font: 12px/14px Arial;
		  height: 55px;
		  left: 0;
		  opacity: 0;
		  padding: 10px;
		  position: relative;
		  right: 0;
		  top: 0;
		}
		.slide-up-boxes a:hover div { 
			opacity: 1; 
			-webkit-transform: rotate(0); 
			-moz-transform: rotate(0); 
			-o-transform: rotate(0); 
		}
		.slide-up-boxes a:nth-child(2) div { background: #367db2;  }
		.slide-up-boxes a:nth-child(3) div { background: #367db2;  }
		.slide-up-boxes a:nth-child(4) div { background: #000000; }
		.slide-up-boxes a:nth-child(5) div { background: #000000; }
		.slide-up-boxes a:nth-child(6) div { background: #000000; }

span.reference a{
text-shadow:1px 1px 1px #fff;
color:#999;
text-transform:uppercase;
text-decoration:none;
position:fixed;
right:10px;
top:10px;
font-size:13px;
font-weight:bold;
 }
span.reference a:hover{
color:#555;
}
h1.title{
color:#777;
font-size:30px;
margin:10px;
font-weight:normal;
text-shadow:1px 1px 1px #fff;
}
			
.fancybox-inner {
overflow: auto;
width: 1104px;
height: 553px;
}

.hc-preview { position: relative; display:inline; }
.hc-name { font-weight:bold; position:relative; display:inline-block; }
.hc-details { left:-10px; margin-right:80px; text-align:left; font-family:Sans-serif !important; font-size:12px !important; color:#666 !important; line-height:1.5em; border:solid 1px #ddd; position:absolute;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;top:-10px;padding:2em 10px 10px;-moz-box-shadow:5px 5px 5px #888;-webkit-box-shadow:5px 5px 5px #888;box-shadow:5px 5px 5px #888;display:none;}
.hc-pic { width:70px; margin-top:-1em; float:right;  }
.hc-details-open-left { left: auto; right:-10px; text-align:right; margin-left:80px; margin-right:0; } .hc-details-open-left > .hc-pic { float:left; } .hc-details-open-top { bottom:-10px; top:auto; padding: 10px 10px 2em;} .hc-details-open-top > .hc-pic { margin-top:10px; float:right;  }.hc-details .s-action{ position: absolute; top:8px; right:5px; } .hc-details .s-card-pad{ border-top: solid 1px #eee; margin-top:10px; padding-top:10px; overflow:hidden; } .hc-details-open-top .s-card-pad { border:none; border-bottom: solid 1px #eee; margin-top:0;padding-top:0; margin-bottom:10px;padding-bottom:10px; }.hc-details .s-card .s-strong{ font-weight:bold; color: #555; } .hc-details .s-img{ float: left; margin-right: 10px; max-width: 70px;} .hc-details .s-name{ color:#222; font-weight:bold;} .hc-details .s-loc{ float:left;}.hc-details-open-left .s-loc{ float:right;} .hc-details .s-href{ clear:both; float:left;} .hc-details .s-desc{ float:left; font-family: Georgia; font-style: italic; margin-top:5px;width:100%;} .hc-details .s-username{ text-decoration:none;} .hc-details .s-stats { display:block; float:left; margin-top:5px; clear:both; padding:0px;}.hc-details ul.s-stats li{ list-style:none; float:left; display:block; padding:0px 10px !important; border-left:solid 1px #eaeaea;} .hc-details ul.s-stats li:first-child{ border:none; padding-left:0 !important;} .hc-details .s-count { font-weight: bold;} .