@charset "utf-8";
/* CSS Document */

#reviewcontainter
{
width:962px; border:1px solid #F2F2F2; 

height:auto !important; /* real browsers */
height:100%; /* IE6: treated as min-height*/
min-height:950px; /* real browsers */
padding:18px;
background-color:#FFFFFF;
}

#reviewcontainterpublish
{
width:962px; border:1px solid #F2F2F2; 

height:auto !important; /* real browsers */
height:100%; /* IE6: treated as min-height*/
min-height:850px; /* real browsers */
padding:18px;
background-color:#FFFFFF;
}

#reviewtop
{
	margin-bottom:10px;
}



.reviewtopcontent
{
height:240px;

}

.reviewmaintable
{
float:left; width:445px;height:225px; border:1px solid #ccc;
overflow:scroll;
overflow-x:hidden;
padding:5px;
 border:1px solid #ccc; 
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);
	
}

.reviewmiddle
{
height:20px;
border-bottom:1px solid #ccc;
margin-bottom:10px;
margin-top:10px;	
}

.reviewmaindetails
{
float:right; width:470px;
height:225px;border:1px solid #ccc;
padding:5px;
 border:1px solid #ccc; 
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);
	
}

.detailstop
{
margin-bottom:5px;	
}

.detailslower
{
margin-top:20px;	
}

.authornotes
{
float:left;
}

.authordetails
{
float:right;

margin-left:5px;

}

.authordetailsrefine
{
float:right;

}



.reviewlowerconatiner
{
	height:420px;	
	
}

.treecontainer
{
float:left; 
width:280px;
height:445px;
padding:10px;
 border:1px solid #ccc; 
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);	
}

.reviewtree
{
height:400px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;
}

.reviewtreecontent
{
float:right;
width:595px;
 border:1px solid #ccc; 
padding:10px;
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);		
}

.mycomments
{
	margin-bottom:10px;
}

.reviewtreetable
{
height:280px;
overflow:scroll;
overflow-x: hidden;
padding:5px;
border: 1px solid #ccc; 


}

.tablelinks
{
height:30px;
margin-top:10px;
}

.treelinks
{ margin-top:10px;
}
.treelinks a
{
text-decoration:none;
}

.reviemainbutton
{
	margin-top:10px;
}

.reviemainbutton a
{
	text-decoration:none;
}

.reviewborder
{
float:left;
border-left:1px solid #6D9EC5;
margin-left:15px;
height:460px;	
}

.review_table:hover 
{
	background-color:#FC9;
	cursor:pointer;
	color:#600;
}
.tableratings
{
height:170px;
border:1px solid #F0F0F0;


}

.tableratingspublish
{
	border:1px solid #F0F0F0;
	padding:7px;
}

.publishlinks
{	
}

.publishlinks ul
{

}

.publishlinks li
{
display:inline;	
padding-right:5px;	
height: 65px;
width:160px;
border-right:1px solid #CCC;

}

.publishlinks span
{
background-color: #6D9EC5;
padding: 2px 7px 2px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
color:#FFF;
margin-left:20px;
margin-right:4px;

}

.publishlinks a
{
text-decoration:none;

}

.publishlinks a :hover
{
background-color:#0080C0;

}






/* manage course */
#managecontainer
{
width:962px; border:1px solid #F2F2F2; 
height:760px; /* IE6: treated as min-height*/

padding:18px;
background-color:#FFFFFF;
}



.managepublishlinks
{	
}

.managepublishlinks ul
{

}

.managepublishlinks li
{
display:inline;	
padding-right:5px;	
height: 65px;
width:160px;
border-right:1px solid #CCC;

}

.managepublishlinks span
{
background-color: #6D9EC5;
padding: 2px 7px 2px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
color:#FFF;
margin-left:20px;
margin-right:4px;

}

.managepublishlinks a
{
text-decoration:none;

}

.managepublishlinks a :hover
{
background-color:#0080C0;
}

.managetreecontainer
{
margin-top:20px;
margin-left:25px;	
}

.managetree
{

height:540px;
width:320px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;
}

.managetable
{
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;
padding:5px;
height:400px;	
}

.managetablelinks
{
height:30px;
margin-top:10px;
}

.managecontentleft
{
	float:left;
	width:390px;
	height:770px;
	border:1px solid #ccc; 
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);	
}

.managerightcontainer
{
	padding:10px;
	float:right; 
	width:520px;
	height:750px;
	border:1px solid #ccc; 
 -webkit-box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px rgba(50, 50, 50, 0.75);	
}

.managemainbutton
{
	
}

#course1{
	
	border:4px solid #ccc;
}

#course1.selectedlink{
	border:4px solid red !important;
}

#course2{
	
	border:4px solid #ccc;
}

#course2.selectedlink{
	border:4px solid red !important;
}


/* manage sutdents */

#managestudentcontainer
{
width:962px; border:1px solid #F2F2F2; 
height:860px; /* IE6: treated as min-height*/
padding:18px;
background-color:#FFFFFF;	
}


#managestudentsupper
{
height:330px;	

}

.managestudenttable
{
	height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;
}

.managestudentlowercontainer
{
	height:490px;
}

.courseperformance
{
width:300px; height:450px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;
}

.courseperformancetable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}

.groupperformance
{
width:300px; height:450px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;
}

.groupperformancetable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

.interaction
{
width:300px; height:450px; float:left;
border:1px solid #069;
padding:5px;
}

.interactiontable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

/* Manage Groups*/

#managegroupcontainer
{
	width:962px; border:1px solid #F2F2F2; 
height:880px; /* IE6: treated as min-height*/
padding:18px;
background-color:#FFFFFF;	
}

#managegroupupper
{
	height:330px;	
}

.managegrouptable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}

.managegrouplowercontainer
{
height:490px;	
}

.Membersgroup
{
width:300px; height:460px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;	
}

.Membersgrouptable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}

.Membergroupactvities
{
width:300px; height:460px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;		
}

.Membergroupactvitiestable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

.Membergroupinteraction
{
width:300px; height:460px; float:left;
border:1px solid #069;
padding:5px;
}

.Membergroupinteractiontable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}


/* Manage Grades*/


#managegradescontainer
{
width:962px; border:1px solid #F2F2F2; 
height:900px; /* IE6: treated as min-height*/
padding:18px;
background-color:#FFFFFF;		
}


#managegradeupper
{
height:330px;	
}


.managegradetable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}

.managegradelowercontainer
{
height:480px;	
}

.Gradesdetails
{
	width:500px; height:460px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;
}

.Gradesdetailstable
{
height:410px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

.Gradeelement
{
width:420px; height:460px; float:left;
border:1px solid #069;
padding:5px;
}

.Gradeelementtable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}



/* Manage Grades*/

#manageperformancecontainer
{
width:962px; border:1px solid #F2F2F2; 
height:930px; /* IE6: treated as min-height*/
padding:18px;
background-color:#FFFFFF;		
}

#manageperformancesupper
{
height:300px;

}


.manageperformancetable
{
height:250px;
width:570px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;
float:left;	
}

.Manageperformancedetails
{
margin-left:10px;
height:230px;
width:350px;
border:1px solid #ccc;
float:left;	
padding:10px;
}

.manageperformancedetaillink
{
height:15px; 
}

.manageperformancelowercontainer
{
	height:520px;
}

.manageperformancecourse
{
width:300px; height:500px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;	
}


.manageperformancecoursetable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;	
}

.manageperformancegroup
{
width:300px; height:500px; float:left; margin-right:10px;
border:1px solid #069;
padding:5px;	
}


.manageperformancegrouptable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

.manageperformanceinteraction
{
width:300px; height:500px; float:left;
border:1px solid #069;
padding:5px;	
}


.manageperformanceinteractiontable
{
height:250px;
overflow:scroll;
overflow-x: hidden;
border:1px solid #ccc;		
}

.Membergroupinteractiondetails
{
width:430px;
height:180px;	
}
