@charset "utf-8";
/* CSS Document for the zLibrary Ziksana by Sundip Shah */
/*date picker */
	
/* for zGroup */
/*main div*/
	
	body
	{
	margin: 0;
	padding: 0;
	border: 0;
		vertical-align: baseline;
	}
	#zGroup{
		border: 1px solid #ccc;
		width:580px;
	}
	/*top text div*/
	#helpText{
		padding:20px;
		border-bottom:1px solid #999;
		margin-top:10px;
		
	}
	
	#cTitle
	{
	font-family:verdana;
font-size:12px;
color:#6498c1;	
	}
	
	#cTime
	{
	color:#999; 
font-family:arial;  
font-size:12px;                   	
	}
	
	#cAverage
	{
		color:#999; 
font-family:arial;  
font-size:12px; 
	}
	
	/*container div*/
	#contentGroup{
		padding:5px;
		padding-left:10px;
		
		
	}
	
	/*table of Groups div*/
	#showGroup{
		
		padding:5px;
		margin-bottom:10px;
		
		
		
	}
	
		
	.zCourse select{
				
		  /* width: 100px;
		   padding: 5px;
		   font-size: 16px;
		   border: 1px solid #ccc;
		   height: 34px;
		   background: url(images/down_arrow_select.jpg) no-repeat right #ddd;*/
				
		 }
	
	#vDate{
		width: 100px;
	}
	#EDate{
		width: 100px;
	}
	#tblGroup{
	
		height: 250px;
		width:650px;
		margin-top:5px;
	padding:10px;
margin-left:7px;
 border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);		
	}
	
	#tblGroup ._bg{
			
	}
	
	#tblGroup tr th{
		text-align:left;
		padding:5px;
	}
	
	#tblGroup tr:hover th{
		
	}
	
	#tblGroup tr td{
		padding:5px;
		border-bottom:1px solid #CCC;
	}
	
	#tblGroup tr:hover{
		
	}
	
	/* style for a*/
	.aClass{
		color:#03F;
		text-decoration:underline;
		margin-left:5px;
	}
	
	.aClass:hover{
		cursor:pointer;
		color:#09F;
		}
	
		

	/*bottom div show and hide one*/
	#linksGroup{
		margin-top:5px;
		padding:5px;
		
	}	
	
	
	#copyGroup{
		width:500px;
		margin-top:5px;
	padding:10px;
margin-left:7px;
 border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
		overflow:scroll;
		overflow-x:hidden;
	}
	
	#clickedGroup{
		height: 141px;
		width:458px;
		resize: none;
	}
	
	#afterClick{
		width:458px;
		resize: none;
		
	}
	#sendGroup{
		margin-top:5px;
	}
	
	
	
	
	
	
	#zPriority{
		margin-left:15px;
	}
	
	#aSend{
		float:right;		
	}
	
	
	#btn_return{
		float:right;
		
	}

/* for zMeetings */
/*main div*/
	#zMeeting{
		border: 1px solid #999;
		width:550px;
	}
	
	
	/*container div*/
	#contentMeeting{
		padding:5px;
		
	}
	
	/*table of Meetings div*/
	#showMeeting{
		margin-top:5px;
		padding:5px;
		background-color:#FFE;
		
	}
	
	
	
	#tblMeeting{
		
		height: 150px;
		width:480px;
		margin-top:5px;
		overflow:scroll;
		overflow-x:hidden;
		border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
	}
	
	#tblMeeting ._bg{
			background-color:#CCC;
	}
	
	#tblMeeting tr th{
		text-align:left;
		padding:5px;
	}
	
	#tblMeeting tr:hover th{
		background-color:#CCC;
	}
	
	#tblMeeting tr td{
		padding:5px;
		border-bottom:1px solid #CCC;
	}
	
	#tblMeeting tr:hover{
		background-color:#FFD;
	}
	
	
		

	/*bottom div show and hide one*/
	#linksMeeting{
		margin-top:5px;
		padding:5px;
		
	}	
	
	
	#copyMeeting{
		
		height: 150px;
		width:480px;
		margin-top:5px;
		overflow:scroll;
		overflow-x:hidden;
			border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
	}
	
	#clickedMeeting{
		height: 141px;
		width:458px;
		resize: none;
	}
	
	
	#sendMeeting{
		margin-top:5px;
	}	
	
	
	/* for zMessage */
	
	/*main div*/
	#zMessage{
		border: 1px solid #ccc;
		width:560px;
		padding:10px
	}
	
	
	/*container div*/
	#contentMessage{
		padding:5px;
		
	}
	
	#error{
		padding:5px;
		color:#F00;
	}
	/*table of messages div*/
	#showMessage{
		margin-top:5px;
		padding:5px;
		background-color:#FFE;
		
	}
	
	
	
	#tblMessage{
		width:550px;
		margin-top:5px;
	margin-left:-5px;
 border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
		
	}
	
	#tblMessage ._bg{
			background-color:#CCC;
	}
	
	#tblMessage tr th{
		text-align:left;
		padding:5px;
	}
	
	#tblMessage tr:hover th{
		background-color:#CCC;
	}
	
	#tblMessage tr td{
		padding:5px;
		border-bottom:1px solid #CCC;
	}
	
	#tblMessage tr:hover{
		background-color:#FFD;
	}
	
		

	/*bottom div show and hide one*/
	#linksMessage{
		margin-top:5px;
		padding:5px;
		
	}	
	
	
	#copyMessage{
				height: 150px;
		width:520px;
		
		margin-top:5px;
		padding:10px;
		 border:1px solid #033f51; 
 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
	}
	
	#clickedMessage{
		height: 141px;
		width:500px;
		resize: none;
	}
	

	#sendMessage{
		margin-top:5px;
	}
	
/* for zAnnouncement */
/*main div*/
	#zAnnouncement{
		border: 1px solid #ccc;
		width:650px;
		
	}	
	
	.zannouncementwrapper
	{
		
		width:500px;
	}
	
	#zNews{
		border: 1px solid #ccc;
		width:550px;
	}
	
/* for zStats */
/*main div*/

	#zStats{
		border: 1px solid #ccc;
		width:580px;
		
		
	}	
	
	/*container div*/
	#contentStats{
		padding:5px;
		padding-left:10px;
	}
	
	/*table of messages div*/
	#showStats{
		margin-top:5px;
		padding:5px;
		background-color:#FFE;
		
	}
	
	#tblStats{
		height: 500px;
		width:490px;
		margin-top:5px;
	padding:10px;
margin-left:7px;
border:1px solid #ccc;
	
	}
		
#tblstatswrap
{
	height: 500px;
		width:550px;
	 border:1px solid #033f51; 
 -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);	
}
	
	#tblStats ._bg{
			
	}
	
	#tblStats tr th{
		text-align:left;
		padding:5px;
	}
	
	#tblStats tr:hover th{
		
	}
	
	#tblStats tr td{
		padding:5px;
		border-bottom:1px solid #CCC;
	}
	
	#tblStats tr:hover{
		
	}
	
	#data1{
		padding:5px;
	}
	
	#data2{
		margin-top:5px;
		padding:5px;
	}
	
	#zTitle{
		margin-bottom:5px;
		padding-bottom:5px;
		border-bottom:2px solid #CCC; 
	}
	
	#cAverage{
		margin-left:30px;
	}
	
#delegateWrapper{ width: 1000px; height:670px; margin: 0 auto; background-color:#FFFEEE; -moz-box-shadow:    0px 0px 5px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px 5px #ccc;
  box-shadow:         0px 0px 5px 5px #ccc;}
#helpText{ padding:10px;border-bottom:1px solid #CCC; margin:5px;}
#delegateLeft{width:190px; padding:5px; margin:5px; border:1px solid #CCC; float:left;}
#links{ margin-left:100px; margin-bottom:5px;}
#usageHistory{ width:190px; height: 210px; border:1px solid #CCC; overflow:scroll; overflow-x: hidden;}
#usageHistory ol li{ padding-top: 5px;}
#delegateRight{width:760px; padding:5px; margin:5px;  float:left; }
#searchLeft{ float:left; width:200px;}
#searchLeft input{margin:5px; width:180px;}
#listMiddle{ width:220px; margin:5px; float:left;}
#rightDesc{ width:300px; margin:5px 5px 5px 0px; float:left; }
#bottomTable{ clear:both;}
#delegateTable{ width:750px;}
#delegateTable tr th{ text-align:left; padding:10px; background-color: #999; color:#FFF;}
#delegateTable tr{ border-bottom: 1px solid #CCC;}
#delegateTable tr td{ text-align:left; padding:20px; border-bottom: 1px solid #CCC;}
#bottomButtons{ margin:5px; padding:5px;}