@charset "utf-8";
/* CSS Document */

body{
		font-family:12px Verdana, Geneva, sans-serif;
		color:#333333;
	}
 
 	#container{
		margin: 0 auto;
		width:1000px;
		border: 4px solid #999;
		padding:5px;
	}
	
	#topContent{
		padding:5px;	
		margin-bottom: 5px;
		border-bottom:1px solid #999;
		height:210px;	
	}
	
	#topLeft{
		float: left;
		width: 670px;
		height:200px;
		border: 1px solid #CCC;
	}
	
	#proLeft{
		float:left;
	}
	
	#mainPic{
		height:100px;
		width:100px;
		margin:5px;
		border:1px solid #CCC;
	}
	
	#proRight{
		float:left;
		margin-left:5px;
		width: 540px;
	}
	
	#forStatus{
		clear:both; 
		padding:5px 0px 0px 5px;
	}
	
	#topRight{
		float: left;
		width: 310px;
		height:200px;
		margin-left:5px;
	
	}
	
	#ssTop{
		text-align:center;
		margin-top:5px;
	}
	
	#arrowDown{
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;	
			border-bottom: 10px solid #CCC;
			margin-top:-5px;
	}
	
	#showSec{
		margin:0px 5px 5px 5px;
		padding:5px;
		border:1px solid #CCC;
		height:111px;
	}
	
	#showSet{
			margin:0px 5px 5px 5px;
		padding:5px;
		border:1px solid #CCC;
			height:111px;
	}
	
	#bottomContent{
		clear:both;
		padding:5px;	
		height:350px;	
	}
	
	#bottomLeft{
		float: left;
		width: 670px;
		height:345px;
		
	}
	
	#sumLeft{
		margin:5px;
		padding:5px 10px 5px 5px;;
		width:120px;
		text-align:center;
		float:left;
		border-right:2px solid #CCCCCC;
	}
	
		
	#sumRight{
		
		margin:5px;
		text-align:center;	
		float:left;	
	}
	
	#learning:hover{
		color:#0099FF;
	}
	
	#social:hover{
		color:#0099FF;
	}
	
	#content:hover{
		color:#0099FF;
	}
	
	#account:hover{
		color:#0099FF;
	}
	
	.current{
		color:#0099FF;
	}
	
	#showLearning{
			border:1px solid #CCC;	
			padding:5px;
			width: 500px;
			height:290px;
			margin-top:5px;
	}
	
	
	#showSocial{
			border:1px solid #CCC;	
			padding:5px;
			width: 500px;
			height:290px;
			margin-top:5px;
	}
	#showContent{
			border:1px solid #CCC;	
			padding:5px;
			width: 500px;
			height:290px;
			margin-top:5px;
	}
	#showAccount{
			border:1px solid #CCC;	
			padding:5px;
			width: 500px;
			height:290px;
			margin-top:5px;
	}
	
	#bottomRight{
		float: left;
		width: 300px;
		height:335px;
		margin-left:5px;
		
	}
	
	#summaryHead{
		font-weight:bold;
		font-size:20px;
		padding:7px;
		margin-bottom:5px;
		border-bottom:1px solid #CCC;
	}
	
	#summaryButton{
		margin-bottom:10px;
		padding:5px;
	}
	
	input{
		border-style:groove;
		cursor:pointer;		
	}
	
	input:hover{
		border-color:#0099FF;		
	}
	
	
	#summaryContent
	{
		overflow:scroll;
		overflow-x:hidden;
		height:200px;
	}
	
	#summaryContent ol {
		margin:0px;
		margin-left:-15px;
	}
	
	#summaryContent ol li{
		padding-top:10px;
	}
	
	.insideLi{
		padding-left:8px;
		margin-top:0px;
	}
	
	
	
	
	