@charset "utf-8";
/* CSS Document */

/*;;;;;Reset CSS;;;;*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 12px;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-image: url(../images/background-pattern.jpg);
	background-repeat:repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/


#wrapper {

}



/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/

header {
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
}
.topheader {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
/*----- logo -----*/
.logo {
	margin-right: auto;
	margin-left: auto;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
.logo a img {
	height: 73px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
}
.logo a {
	font-size: 24px;
	color: #575757;
	text-decoration: none;
}
/*-----  End logo  -----*/

.status-container {
	float: right;
}
#status-icons {
	float: left;
	background-color: #efefef;
	padding: 5px;
	margin-right: 15px;
}
.account-container {
  background-color: #6D9EC5;
  border-bottom: 1px solid #77A3B5;
  border-left: 1px solid #77A3B5;
  border-right: 1px solid #77A3B5;
  display: block;
  float: right;
  height: 35px;
  line-height: 35px;
}


/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/



nav {
	width: 1000px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	height: 70px;
	position: relative;
	
}
.menu {
	width: 570px;
	float: left;
	position: absolute;
	top: 27px;
	height: 33px;
	left: -12px;
}
.searchpanel {
	width: 220px;
	float: left;
	margin-left: 625px;
}
.searchoptions {
	float: right;
	width: 145px;
	margin-top: 17px;
	text-align:right;
}

.searchoptions ul li{
	float: right;

}


.slogen-container {
	width: 995px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-bottom: 0px;
	padding-right: 5px;
}



/*;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;*/


section {
	float: left;
	width: 100%;
	margin-bottom:20px;


}
#book-container {
background-color:#222222;
	text-align: center;
	margin-bottom: 10px;
}
#book-chapter {
	background-color: #222222;
	width:1044px;
	height:430px;
	margin-right: auto;
	margin-left: auto;


}
#book-index {
	background-color: #222222;
	width:249px;
	height:429px;
	float:left;
	
}
#book-vedio {
	background-color: #222222;
	width:790px;
	height:430px;
	margin-left:251px;
	
	

}
#lect-img {
	display: none;
	width:200px;
	height:300px;
	margin-top:30px;
	float:right;
	
}
#play-vedio {
	
	width:550px;
	height:398px;
	float:left;
	margin-top:30px;
	margin-left:30px;
	
	
	
}
#video_actions {
background: #45484d;
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

  display: block;
  width: 550px;
}
#video_actions img {width: 32px; height: 32px; margin-right: .5em;}
#listen-text {
background: #cedce7;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72));
background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );

  height: 200px;
  padding: 10px;
  position: relative;
  text-align: justify;
  width: 530px;
  z-index: 15;
}

enrich_note

#listen-text textarea {
  height: 120px !important;
  width: 525px !important;
}

#listen-text-bookmark {
background: #cedce7;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGNlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1OTZhNzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72));
background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: -o-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: -ms-linear-gradient(top,  #cedce7 0%,#596a72 100%);
background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );

  padding: 10px;
  position: relative;
  text-align: justify;
  width: 530px;
  z-index: 15;
}


textarea.note_description {width: 525px; height: 130px; }
#video_note_actions {
  margin: 0.5em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
#video_note_actions img {
  background: none repeat scroll 0 0 white;
  border-radius: 3px 3px 3px 3px;
  margin-right: 0.25em;
  padding: 0.25em;
  cursor: pointer;
}
#video_note_actions img:hover {background: black;}

#Icondiv{
width:60px;
height:30px;
margin-left:350px;

}
#destextarea{
width:250px;
height:50px;
font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
font-size:12px;
}

#dtext
{
width:420px;
height:100px;
float:left;
margin-left:3px;

}
.contentArea .contentHolder{margin-top:3px;}
.contentArea .commandsTxt{
	background-color: #FFFFFF;
	border:1px solid #BBBBBB;
    height: 100px;
    padding: 10px;
    width:90%;
	}
.contentArea .countTxt{
	background-color: #BBBBBB;
    color: #FFFFFF;
    margin-left: 2px;
    text-align: center;
    width: 10px;
}
.iconArea .iconMain .iconMain-bookamrk{ width:50px; height:25px; background-color:#666;  border-radius: 4px 4px 4px 4px;}
.iconMain .icons{float:right;margin:4px; }
.iconMain-bookamrk .icons{float:right;margin:4px; }

.section  {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
}

#listen-text-bookmark .markerIcon{
	background-color: #E7E7DF;
    height: 35px;
    margin-left: 24px;
    width: 25px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#listen-text-bookmark .commandsMain{
	background-color: #E7E7DF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 1px rgba(160, 160, 160, 0.3);
	width:100%;
	height:100%;
	padding:10px;
}

#listen-text .markerIcon{
	background-color: #E7E7DF;
    height: 35px;
    margin-left: 24px;
    width: 25px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#listen-text .commandsMain{
	background-color: #E7E7DF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 1px rgba(160, 160, 160, 0.3);
	width:100%;
	height:100%;
	padding:10px;
}
.col-lft  {
	width: 235px;
	float: left;
	margin: 1em .5em 1em 0;
}
section #col-lft {
	width: 264px;
	float: left;
	text-align:left;
	padding-right: 5px;
	margin-bottom: 30px;
}
.user-info {
	width: 235px;
	float: left;
	line-height: 16px;
}
#col-lft #user-info img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 127px;
	width: 98px;
	}
#user-info #user-belt {
	width: 264px;
	float: left;
	height: 57px;
	background-image: url(../images/user/yellowbelt.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	line-height: 67px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
#user-contacts {
	float: left;
	width: 235px;
}
#user-contacts img {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: 0;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	height: 42px;
	width: 40px;
}
.user-insight {
	width: 235px;
	float: left;
	text-align:left;
	margin-bottom: 30px;
}
.img-vedio{
	float:left;
	padding-top:30px;
	margin-left:30px;
}
/*;;;;;;;;End col-lft;;;;;;;*/

/*;;;;;;;;center-col;;;;;;;*/

.center  {
	float: left;
	width: 426px;
	padding: 15px;
	background-color: #FFF;
	margin: 1em 0;
	text-align:left;
}
/*;;;;;;;;End col-lft;;;;;;;*/

/*;;;;;;;;center-col;;;;;;;*/

.center2  {
	float: left;
	width: 464px;
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
	margin-top: 5px;
}
/*;;;;;;;;End col-lft;;;;;;;*/

/*;;;;;;;;center-col;;;;;;;*/

.center3  {
	float: left;
	width: 441px;
	margin-right: 15px;
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
	margin-top: 5px;
}
section #center {
	float: left;
	text-align:left;
	width: 390px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
}
#calendar  {
	/*background-image: url(../images/clok.png);*/
	background-position: right top;
	background-repeat: no-repeat;
	float: left;
}
#center #calendar {
	/*background-image: url(../images/clok.png);*/
	background-position: right top;
	background-repeat: no-repeat;
	float: left;
}
#calendar #calendar-container {
	float: left;
	margin-right: 10px;
}
#calendar #calendar-info {
	float: right;
	padding-top: 180px;
}
.class-talk  {
	float: left;
	width: 422px;
	margin-top: 25px;
}
.dash-bord {
	height: 40px;
	margin-top: 5px;
	margin-left: 50px;
}
.dash-bord .dash-bord-icon {
	height: 12px;
	background-image: url(../images/dash-bord-arow.png);
	background-repeat: no-repeat;
	background-position: 20px;
}

.dash-bord .dash-bord-bar {
	height: 28px;
	background-color: #eaeaea;
	background-image: url(../images/icons/icons.png);
	background-repeat: no-repeat;
	background-position: 110px -136px;
}
.comments-container {
	float: left;
}
/*;;;;;;;;End center-col;;;;;;;*/

/*;;;;;;;;Right-col;;;;;;;*/

.col-right  {
	float: left;
	margin: 1em 0;
	width: 250px;
}
.col-right-container  {
	width: 220px;
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 15px;
	text-align:left;
	margin-left: 15px;
}
.Performance {
}
#box-bottom  {
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding-top: 40px;
}
#current-progress-container  {
	width: 220px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	line-height: 22px;
	padding: 5px;
	background-image: url(../images/icons/icons.png);
	background-position: 205px -88px;
	background-repeat: no-repeat;
	position: absolute;
	top: -32px;
	right: 50%;
	float: left;
}


#current-progress {
	background-color: #FFF;
	float: left;
	width: 100%;
	position: relative;
}
#slider-eff-progress {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}
/*;;;;;;;;Right-col;;;;;;;*/

/*;;;;;;;;;open col;;;;;;;*/
.col-open  {
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
	margin-right: 15px;
	margin-left: 15px;
	float: left;
}
/*;;;;;;;;Right-col;;;;;;;*/

/*;;;;;;;;;open col;;;;;;;*/
.col-1000  {
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
	float: left;
	width: 970px;
}
.col-open-container  {
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 15px;
}
.icons-list {
	height: 35px;
	background-color: #ebebeb;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #d2d8da;
	clear: both;
}


.icon-cal {
	background:url(../images/icons/icons.png) -184px -395px no-repeat;
	padding:5px 0 5px 20px; 

}
a.icon-cal:hover {
	background:url(../images/icons/icons.png) -184px -415px no-repeat;
	padding:5px 0 5px 20px; 

}

.icon-contact {
	background:url(../images/icons/icons.png) -184px -395px no-repeat;
	padding:5px 0 5px 20px; 

}
a.icon-contact:hover {
	background:url(../images/icons/icons.png) -184px -415px no-repeat;
	padding:5px 0 5px 20px; 

}
/*;;;;;;;;;End open col;;;;;;;*/

.f-l{ float:left;}
.f-r{ float:right;}
.txt-r{ text-align:right;}
.txt-l{ text-align:left;}

.info{ padding-left:20px; line-height:20px; background:url(../images/icons/icons.png) -184px -444px no-repeat; color:#369;}
.info:hover{ text-indent:20px; line-height:20px; background:url(../images/icons/icons.png) -184px -466px no-repeat;}
.white-in {
    border: 1px solid #FDFDFD;
    border-radius: 2px;
}
.grey-out {
    border: 1px solid #ddd;
    border-radius: 1px;
}
.contact-pic, .contact-pic a {
    display: block;
    height: 28px;
    width: 28px;
}
ul.contact-list{ clear:both; float:left;}
.contact-list .member {float:left;  margin:5px 10px 5px 0;}

.main-pic {
    height: 87px;
    width: 87px;
	margin-right:10px;
}
.col-wide{
	width:729px;
	margin-left:20px;
	float:left;
	margin-bottom: 30px;
	margin-top: 5px;
}
.col-wide2{
	width:699px;
	float:left;
	margin-bottom: 30px;
	margin-top: 5px;
	margin-right: 20px;
	padding: 15px;
}

.white-bg{ background:#fff;}

#tabset ul.ui-corner-all{ border-radius:0;}

#edu-star img{ width:16px; height:16px;}

/*customize jquery ui*/
.ui-progressbar .ui-widget-header { background:#D7EBF9;}


/*;;;;;;;;;;Login;;;;;;*/
#login {
	padding: 15px;
	background-color: #FFF;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	margin-top: 15px;
}
.log-title     {
	height: 50px;
	background: #6D9EC5;
	font-family: Geneva, sans-serif;
	font-size: 36px;
	display: block;
	padding: 5px;
	line-height: 50px;
	font-weight: bold;
	color: #FFFFFF;
}
#login-container {
	padding: 5px;
}
#login-container .login-form {
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	width: 320px;
	padding: 10px;
	background-image: url(../images/login-b-c.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.checkbox-login  {
	margin- top: 10px;
}
#login-container form .p-p {
	display: block;
}

#login-container .login-form .input-logen {
	width: 300px;
	height: 25px;
	border: 1px solid #90BFD3;
	font-family: Geneva, sans-serif;
	color: #999;
	margin-bottom:5px;
}
.signin-submit-login {
	background-color: #6D9EC5;
	border: 1px solid #3B9ABE;
	
	color: #266379;
	font-weight: bold;
	margin-top: 20px 0 20px 0;

	width: 100px;
	height: 25px;
	font-size:14px;
	padding:5px;
}
.titles-info-no-border{ font-size:12px; line-height:20px; color:#555;}
/*;;;;;;;;;;End Login;;;;;;;*/

/*;;;;;;;;;sortable;;;;;;;;;*/
#sortable0, #sortable1, #sortable2, #sortable3 {
	list-style-type: none;
	margin: 0 0 0 15px;
	padding:0px;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width: 120px;
	float:left;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border:3px dashed #ccc;
	min-height:300px;
}
#sortable0 li, #sortable1 li, #sortable2 li, #sortable3 li {
	margin: 10px;
	padding: 5px;
	font-size: 1.2em;
	width: 80px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	cursor:move;
}
#sortable0 {
	background: #fafaff;
}
#sortable1 {
	background: #ffc;
}
#sortable2 {
	background: #CFC;
}
#sortable3 {
	background: #CEE3E3;
}
/*;;;;;;;;;End sortable;;;;;;;;;*/
footer {
	height: 110px;
	background-color: #575757;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
.create-box-width {
	width: 150px;
	padding: 5px;
}
.number-creat-box {
	width: 65px;
	background-color: #6d9ec5;
	height: 65px;
	margin: 5px;
	font-size: 55px;
	color: #4279A6;
	text-align: center;
}


/*** Search **/

 span.reference{
                position:fixed;
                left:10px;
                bottom:10px;
                font-size:11px;
            }
            span.reference a{
               
                text-decoration:none;
                text-transform: uppercase;
                text-shadow:0 1px 0 #000;
            }
            span.reference a:hover{
                color:#f0f0f0;
            }
           

.sb_wrapper input[type="text"],
ul.sb_dropdown{
	border:1px solid #fff;
		font-size:24px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	background-color:#FFF;
	outline:none;
	padding:6px 5px 6px 20px;
	text-shadow:1px 1px 1px #fff;
	width:295px;
	float:left;
	margin:3px 0px;
}
ul.sb_dropdown{
	float:left;
	list-style:none;
	width:360px;
	border: 2px solid #efefef;

	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	position: absolute;
	top: 52px;
	right: 0px;
	bottom: 0px;
	height: 100px;
	padding-top: 6px;
	padding-right: 5px;
	padding-bottom: 6px;
	padding-left: 5px;
}
ul.sb_dropdown li{
	font-size:16px;
	line-height:32px;
	height:32px;
	float:left;
	width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:348px;
	clear:both;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	height:16px;
	line-height:16px;
	padding:5px;
	
}

input.sb_search{
	background:#FFF url(../icons/search.png) no-repeat center center;
	height:43px;
	width:50px;
	float:left;
	border:none;
	margin:3px 0px;
	outline:none;
	cursor:pointer;
}
input.sb_search:hover{
	background-color:#fff;
}


.items-for-today{
	width:235px;
	height:250px;
	overflow:hidden;
	overflow-x: hidden;
	margin-bottom: 5px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 35px;
  }
  
  
  /*##################################################################
   Custom Styles Added by Arun Prasad 
   ##################################################################*/
  
 a{cursor: pointer; }

.ui-progressbar .ui-progressbar-value {
  background-image: url("../images/pbar-ani.gif");
  margin: 0 !important;
}
#enrich_note {
background: #ffa84c;
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d));
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );

  height: 110px;
  padding: 10px;
  position: relative;
  text-align: justify;
  width: 300px;
  z-index: 15;
}

#dashboard_course_tree {
  background: none repeat scroll 0 0 silver;
  border-radius: 0 30px 30px 0;
  margin-left: 832px;
  padding: 0.5em;
  position: absolute;
  top: 30px;
  width: 200px;
}