@charset "utf-8";
/* CSS Document */

#lpwrapper
{
	
}

#uplpcontainer
{
	
	height:112px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */
}

#lpcontainer
{
	
height: 105px;
width: 717px;
margin-left: auto;
margin-right: auto;
margin-left: 235px;
border-top: 4px solid #C60;
margin-right: 40px;
	
}

.lpboxtab1
{
width:235px;
border:1px solid #ccc;
height: 105px;
float:left;
margin-right:2px;

 -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
background-color:#FFF;
z-index: 999;
position: relative;

}

#arrowcontainer
{
width: 50px;
margin-top: 100px;
margin-left: 95px;
z-index: 6;
position: relative;
}

.arrow
{width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid rgb(204, 102, 0);
	position:relative;
}


.lpboxtab1:hover
{
width:235px;
border:1px solid #ccc;
height:105px;
float:left;

background-color:rgb(248, 248, 248);
 -webkit-animation: moveFromLeftRotate 300ms ease;
    -moz-animation: moveFromLeftRotate 300ms ease;
    -ms-animation: moveFromLeftRotate 300ms ease;
cursor:pointer;
border-bottom:2px solid #C60;



}

#lrlpcontainer
{
	
height:500px;
}

.ltabswrapper
{
width:180px;
height:500px;
float:left;
url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #fcfcfc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#fcfcfc));
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 );
border-right:1px solid #ccc;
z-index: 6541561;
position: relative;
}

/*.trcontentwrapper
{
height:500px;
background-color:#069;
float:left;	
width: 818px;
}*/


.trcontentwrapper
{
height: 500px;
float: left;
left:452px;
width: 180px;
/*position: absolute;*/
overflow: hidden;
z-index: 4;
}

.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}

.badge1 {
 
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}

.badge1 {
 padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
padding-bottom: 5px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
border: 2px solid #ccc;
}


.badge1ds {
 
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.86);
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  
}

.badge1ds {
 padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
padding-bottom: 5px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
border: 2px solid #ccc;
}


.badge1cm {
 
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #468847;
  
}

.badge1cm {
 padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
padding-bottom: 5px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
border: 2px solid #ccc;
}




.badge {
 padding-left: 9px;
padding-right: 9px;
padding-top: 5px;
padding-bottom: 5px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
border: 2px solid #ccc;
}

.badge-warning {
  background-color:rgb(92, 144, 173);
}

.badge-warningsel {
  background-color:rgb(16, 77, 105);
}

.badge-warningds {
  opacity: 0.6;
}

.badge-warning[href] {
  background-color: #c67605;
}

.badge-success {
  background-color: #468847;
}

.badge-success[href] {
  background-color: #356635;
}

.badge-info {
  background-color: #3a87ad;
}

.badge-info[href] {
  background-color: #2d6987;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse[href] {
  background-color: #1a1a1a;
}

.tbboxhead
{
margin-top:5px; width:100%; padding-left:16px;
}

.tbboxheadfnt
{
font-size:30px; margin-left:10px; color: rgb(35, 122, 180);
font-family: arial;
letter-spacing: 1px; 
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.54);
}

.tbboxnum
{
float:left; margin-top:18px; margin-left:8px; height:60px; width: 45px;
}

.tbboxdesc
{
float:left; width:175px; margin-top:7px;
}

.tbboximg
{
width:42px; 
height:38px; 	
}
.tbboxdesc p
{
font-weight:bold; font-family:'Arial'; font-size:12px; color:rgb(18, 108, 121);
opacity: 0.6;
}


/* for disable */

.tbboxheadds
{
margin-top:5px; width:100%; padding-left:16px;
}

.tbboxheadfntds
{
font-size:30px; margin-left:10px; color: rgb(139, 139, 139);
font-family: arial;
letter-spacing: 1px; 
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.54);
opacity: 0.6;
}

.tbboxnumds
{
float:left; margin-top:18px; margin-left:8px; height:60px; width: 45px;
}

.tbboxdescds
{
float:left; width:175px; margin-top:7px;
}

.tbboxdescds p
{
font-weight:bold; font-family:'Arial'; font-size:12px; color:rgb(177, 177, 177);
opacity: 0.6;
}

.tbboximgds
{
opacity: 0.5;
width:42px; 
height:38px; 	
}

/*for complete */

.tbboxheadcm
{
margin-top:5px; width:100%; padding-left:16px;
}

.tbboxheadfntcm
{
font-size:30px; margin-left:10px; color: #468847;
font-family: arial;
letter-spacing: 1px; 
text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.54);

}

.tbboxnumcm
{
float:left; margin-top:18px; margin-left:8px; height:60px; width: 45px;
}

.tbboxdesccm
{
float:left; width:175px; margin-top:7px;
}

.tbboxdesccm p
{
font-weight:bold; font-family:'Arial'; font-size:12px; color:#468847;

}

.tbboximgcm
{
width:42px; 
height:38px; 
}

.imagecm
{
	margin-left:20px;
	margin-bottom:10px;
	height:20px;
	width:20px;
}

.tbupwarpper
{
width: 180px;
float: left;
height:112px;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #fcfcfc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-8 */
border-right:1px solid #ccc;
}



