@charset "utf-8";
/* CSS Document */


#subswrapper
{
border:1px solid #ccc;
margin-left:auto;
margin-right:auto;
width:950px;	
}

#subupwrapper
{

}

#sublrwrapper
{
	
}

#subscription
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;
}

#studyhistory
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;
			
}


#assignmenthistory
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;
}

#myalerts
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;		
}

#myshcedule
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;		
}

#mynotes
{
float:left;
width:300px;
border:1px solid #CCC;
-moz-box-shadow: 3px 4px 4px -3px #D9D9D9;
-webkit-box-shadow: 3px 4px 4px -3px #D9D9D9;
box-shadow: 3px 4px 4px -3px #D9D9D9;
margin-left:10px;	
margin-bottom:20px;		
}

p.headtitle
{
font-size:18px; 
color:rgb(61, 101, 141);
font-family:Verdana, Geneva, sans-serif; 
background-color:rgb(216, 216, 216);
border:1px solid #ccc;

padding:5px;	
}

.inputbox
{
width:20px; 
padding-left:3px; 
margin-left:140px;	
}

.inputboxsh
{
width:30px; 
padding-left:3px; 
margin-left:130px;	
}

.inputboxms
{
width:30px; 
padding-left:3px; 
margin-left:130px;
}

.inputboxmn
{
width:40px; 
padding-left:3px; 
margin-left:80px;
}

.clearboth
{
float:none;
clear:both;	
}

.rounded-list
{
width:220px;
	
}

ol{
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	margin-left:5px;
	
}

ol ol{
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rounded-list p{
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	*padding: .4em;
	margin: .5em 0;
	background: rgba(221, 221, 221, 0.39);
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: all .3s ease-out;	
}

.rounded-list p:hover{
	background: #E4E4E4;
}


.rounded-list p:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #7EB9E5;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

#toggle-view {
	list-style:none;	
	font-family:arial;
	font-size:11px;
	padding:0;
	width:270px;
}

	#toggle-view li {
		margin:10px;
		border-bottom:1px solid #ccc;
		position:relative;
		cursor:pointer;
	}
	
	#toggle-view h3 {
		margin:0;
		font-size:14px;
	}

	#toggle-view span {
	position:absolute;
	right:7px;
	top:7px;
	color:#ccc;
	font-size:13px;
	}
	
	#toggle-view .panel {
		margin:5px 0;
		display:none;
	}	

