@charset "utf-8";

.tbhead {
			margin: 0;	
			/*padding: 7px 0 0 0;*/
			
			font-weight:bold;
			color:#fff;
		}
.feature-shadow { 
	box-shadow:0px 5px 8px #333333;
	
	}
		div#feature_list {
			width: 180px;
/*			margin-top:60px;*/
			
		}

		div#feature_list ul {
			
			top: 0;
			list-style: none;	
			padding: 0;
			margin: 0;
			background-color:rgb(56, 107, 148);
		}

		ul#tabs {
			left: 0;
			z-index: 2;
			width: 180px;
		}

		ul#tabs li {
			font-size: 12px;
			font-family: Arial;
			padding:0;
			background:none;
			border:1px solid #ccc;
		}
		
		ul#tabs li img {
		    border: none;
			float: left;
			margin: 0px 5px 0 0;
		}

		ul#tabs li a {
			color: #fff;
			text-decoration: none;	
			display: block;
			padding: 10px;
			height: 34px;
			outline: none;
			position:relative;
		}

		ul#tabs li a:hover {
			text-decoration: none;
			background:  url('feature-tab-current.png');
			background-repeat: no-repeat;
			color: #FFF;
			z-index:99999999999999;
			width:100%
		}

		

		ul#tabs li a.current:hover {
			text-decoration: none;
			cursor: default;
		}

		