@charset "utf-8";

.tbhead {
			margin: 0;	
			/*padding: 7px 0 0 0;*/
			
			font-weight:bold;
			color:#ccc;
		}
.feature-shadow { 
	
	
	}
		div#feature_list {
			width: 180px;
			margin-top:60px;
			
		}

		div#feature_list ul {
			
			top: 0;
			list-style: none;	
			padding: 0;
			margin: 0;
			
		}

		ul#tabs {
			left: 0;
			z-index: 2;
			width: 180px;
		}

		ul#tabs li {
			font-size: 12px;
			font-family: Arial;
			padding:0;
			background:none;
			border:1px solid #ccc;
			color:#000;
	       margin-bottom: 10px;
           background-color: #fff;

		}
		
		ul#tabs li img {
		    border: none;
			float: left;
			margin: 0px 5px 0 0;
		}

		ul#tabs li a {
			color: #000;
			text-decoration: none;	
			display: block;
			padding: 10px;
			height: 34px;
			outline: none;
			position:relative;
			border-left: 4px solid #C60;
  
			
		}

		ul#tabs li a:hover {
			text-decoration: none;
			/*background:  url('feature-tab-current.png');*/
			background-repeat: no-repeat;
			color:#fff;
			z-index:99999999999999;
			width:100%;
			border-left: 4px solid rgb(80, 103, 119);
			
		}
		
		    .currenttb{
			text-decoration: none;
			background:  url('feature-tab-current.png');
			background-repeat: no-repeat;
			color:#fff;
			z-index:99999999999999;
			width:100%;
			border-left: 4px solid rgb(80, 103, 119);
			
		}
		
		
		ultabsliselected {
			text-decoration: none;
			background:  url('feature-tab-current.png');
			background-repeat: no-repeat;
			color:#fff;
			z-index:99999999999999;
			width:100%;
			border-left: 4px solid rgb(80, 103, 119);
			
		}
		
		

		

		ul#tabs li a.current:hover {
			text-decoration: none;
			cursor: default;
		}

.tbcategory
{
margin-left: 2px; font-size:12px; font-family:Verdana, Geneva, sans-serif;
color:rgba(11, 13, 80, 0.83);
}

.tbcategorysel
{
margin-left: 2px; font-size:12px; font-family:Verdana, Geneva, sans-serif;
color:#fff;
}

.tbcategoryhover
{
font-size:12px; font-family:Verdana, Geneva, sans-serif;
color:#ccc;
}

.tbcatcolor
{
color:#ccc;
}




		