<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.todos.CategoryMapper">

	<select id="getCategory" resultMap="categoryResultMap"
		parameterType="int">
		select * from category where CategoryId = #{categoryId}
	</select>

	<resultMap id="categoryResultMap" type="com.ziksana.domain.todos.Category">
		<result property="categoryId" column="CategoryId" />
		<result property="categoryName" column="CategoryName" />
	</resultMap>


	<insert id="createCategory" parameterType="com.ziksana.domain.todos.Category"
		useGeneratedKeys="true" keyProperty="CategoryId">
		INSERT INTO category
		(CategoryId,CategoryName) VALUES (#{categoryId},#{categoryName})
	</insert>


	<update id="updateCategory" parameterType="com.ziksana.domain.todos.Category">
		update
		category set
		CategoryName = #{categoryName}
		where
		CategoryId = #{categoryId}
	</update>

	<delete id="deleteCategory" parameterType="int">
		delete from
		category
		where CategoryId = #{categoryId}
	</delete>
</mapper>
