<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.todos.MemberPersonaMapper">

	<select id="getMemberPersona" resultMap="memberPersonaResultMap"
		parameterType="int">
		SELECT * FROM MEMMEMBER WHERE ID = #{id}
	</select>

	<resultMap id="memberPersonaResultMap" type="com.ziksana.domain.todos.MemberPersona">
		<result property="id" column="ID" />
		<result property="memberType" column="MemberType" />
		<result property="relationshipStatus" column="RelationshipStatus" />
		<result property="joinedDate" column="JoinedDate" />
		<result property="firstname" column="FirstName" />
		<result property="lastname" column="LastName" />
		<result property="middlename" column="MiddleName" />
		<result property="nickname" column="NickName" />
		<result property="salutation" column="Salutation" />
		<result property="dateofBirth" column="DateofBirth" />
		<result property="sunsign" column="SunSign" />
		<result property="moonsign" column="MoonSign" />
		<result property="active" column="Active" />
		<result property="doNotDistrubIndicator" column="DoNotDistrubIndicator" />
		<result property="picturePath" column="PicturePath" />		
	</resultMap>


	<insert id="createMemberPersona" parameterType="com.ziksana.domain.todos.MemberPersona"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		MEMMEMBER(ID,MemberType,RelationshipStatus,JoinedDate,FirstName,Last
		Name,MiddleName,NickName,Salutation,DateofBirth,SunSign,MoonSign,Active,DoNotDistrubIndicator,PicturePath)"
		+ " VALUES (#{id},#{memberType}, #{relationshipStatus}, #{joinedDate},
		#{firstname}, #{lastname}, #{middlename},#{nickname},#{salutation},
		#{dateofBirth}, #{sunsign}, #{moonsign}, #{active},
		#{doNotDistrubIndicator}, #{picturePath})
	</insert>


	<update id="updateMemberPersona" parameterType="com.ziksana.domain.todos.MemberPersona">
		UPDATE MEMMEMBER
		SET CreationDate= #{creationDate}, NotificationType=
		#{notificationType}, NotificationContent= #{notificationContent} ,
		Priority= #{priority}, Status= #{status} , CompleteBy= #{completeBy},
		ForMemberId= #{forMemberId}, CreatingMemberId=
		#{creatingMemberId},categoryType=#{categoryType} WHERE MemberId =
		#{id}
	</update>

	<delete id="deleteMemberPersona" parameterType="int">
		DELETE FROM
		MEMMEMBER WHERE ID = #{id}
	</delete>
</mapper>
