<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.CourseMapper">
	<sql id="Base_Column_List">
		ID, name, courseidentifier, description, validfrom,
		validto, coursestatus, rating,
		contentsecurityneededindicator,
		courseweightage, totalcredits, extracreditsindicator,
		extracredits,additionalpropertyindicator, courseduration,
		thumbnailpicturepath, templateindicator, version, memberroleid,
		subjclassificationid
	</sql>

	<update id="updateCourse" parameterType="com.ziksana.domain.course.Course">
		update corcourse
		<set>
			<if test="name!=null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description!=null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="courseStatus!=null">
				coursestatus = #{courseStatusId,jdbcType=INTEGER},
			</if>
			<if test="securityIndicator !=null">
				contentsecurityneededindicator =
				#{securityIndicator,jdbcType=BOOLEAN},
			</if>
			<if test="courseCredits!=null">
				TotalCredits = #{courseCredits,jdbcType=VARCHAR},
			</if>
			<if test="extraCredits!=null">
				extracredits = #{extraCredits,jdbcType=VARCHAR},
			</if>
			<if test="additionalInfoIndicator !=null">
				additionalpropertyindicator =
				#{additionalInfoIndicator,jdbcType=BOOLEAN},
			</if>
			<if test="courseDuration!=null">
				courseduration=
				#{courseDuration.duration,jdbcType=INTEGER},
			</if>
			<if test="courseDuration!=null">
				CourseDurationUnit=
				#{courseDuration.durationUnit,jdbcType=INTEGER},
			</if>
			<if test="thumbnailPicturePath!=null">
				thumbnailpicturepath =
				#{thumbnailPicturePath,jdbcType=VARCHAR},
			</if>
			<if test="subjClassificationId!=null">
				subjclassificationid=
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{courseId.storageID,jdbcType=INTEGER}
	</update>

	<insert id="saveCourse" parameterType="com.ziksana.domain.course.Course"
		useGeneratedKeys="true" keyProperty="courseId" keyColumn="ID">
		insert into corcourse
		<trim prefix="(" suffix=")" suffixOverrides=",">
			creationdate,
			<if test="name!=null">
				name,
			</if>
			<if test="description!=null">
				description,
			</if>
			<if test="courseStatus!=null">
				coursestatus,
			</if>
			<if test="securityIndicator !=null">
				contentsecurityneededindicator,
			</if>
			<if test="isDelete!=null">
				isdelete,
			</if>
			<if test="courseCredits!=null">
				TotalCredits,
			</if>
			<if test="extraCredits!=null">
				extracredits,
			</if>
			<if test="additionalInfoIndicator !=null">
				additionalpropertyindicator,
			</if>
			<if test="courseDuration!=null">
				courseduration,
			</if>
			<if test="courseDuration!=null">
				CourseDurationUnit,
			</if>
			<if test="thumbnailPicturePath!=null">
				thumbnailpicturepath,
			</if>
			<if test="version!=null">
				version,
			</if>
			<if test="versionRemarks!=null">
				versionremarks,
			</if>
			<if test="accountableMember !=null">
				memberroleid,
			</if>
			<if test="subjClassificationId !=null">
				subjclassificationid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			sysdate(),
			<if test="name!=null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="description!=null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="courseStatus!=null">
				#{courseStatusId,jdbcType=INTEGER},
			</if>
			<if test="securityIndicator !=null">
				#{securityIndicator,jdbcType=BOOLEAN},
			</if>
			<if test="isDelete !=null">
				#{isDelete,jdbcType=BOOLEAN},
			</if>
			<if test="courseCredits!=null">
				#{courseCredits,jdbcType=VARCHAR},
			</if>
			<if test="extraCredits!=null">
				#{extraCredits,jdbcType=VARCHAR},
			</if>
			<if test="additionalInfoIndicator !=null">
				#{additionalInfoIndicator,jdbcType=BOOLEAN},
			</if>

			<if test="courseDuration!=null">
				#{courseDuration.duration,jdbcType=INTEGER},
			</if>
			<if test="courseDuration!=null">
				#{courseDuration.durationUnit,jdbcType=INTEGER},
			</if>
			<if test="thumbnailPicturePath!=null">
				#{thumbnailPicturePath,jdbcType=VARCHAR},
			</if>
			<if test="version!=null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="versionRemarks!=null">
				#{versionRemarks,jdbcType=VARCHAR},
			</if>
			<if test="accountableMember !=null">
				#{accountableMember.memberRoleId,jdbcType=INTEGER},
			</if>
			<if test="subjClassificationId !=null">
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="courseId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<select id="getCourseByCourseId" resultMap="courseResultMap"
		parameterType="int">
			select
		id,name,description,thumbnailPicturePath,CourseDuration,CourseDurationUnit
		from
		corcourse
		where  id = #{courseId}
		
	</select>
	
	<select id="getCourses" resultMap="courseResultMap"
		parameterType="map">

		select
		id,name,description,Rating
		from
		corcourse
		where
		CourseStatus=#{statusId} and
		MemberRoleId=#{memberPersonaId} and
		IsDelete = 0 order by CreationDate desc
		LIMIT 0, 3

	</select>

	<select id="getAllCourses" resultMap="courseResultMap"
		parameterType="map">

		select
		id,name,description,thumbnailPicturePath,CourseDuration,CourseDurationUnit
		from
		corcourse
		where
		CourseStatus=#{statusId} and
		MemberRoleId=#{memberPersonaId} and
		IsDelete = 0

	</select>
	
	

	<select id="isCourseNameExists" resultType="java.lang.Integer" parameterType="map">
		select distinct
		COUNT(name) 
		
		from
		corcourse
		where
		name = #{courseName} and
		CourseStatus=#{statusId} and
		MemberRoleId=#{memberPersonaId} and
		IsDelete = 0
	
	</select>
	<select id="isModuleExists" resultType="java.lang.Integer" parameterType="int">
	
		select count(*) from corlearningcomponent where isDelete = 0 and id in(select id from corcourselearningcomponent where courseid=#{courseId})		
	
	</select>
	<select id="isContentExists" resultType="java.lang.Integer" parameterType="int">
	
		select count(*) from corcourselearningcomponent cclc,corlearningcomponent clc, corlearningcomponentcontent clcc, corlearningcontent corlearncontent  where clcc.LearningContentId = corlearncontent.ID and  clcc.LearningComponentId=clc.ID and cclc.CourseId=#{courseId} and cclc.LearningComponentId=clc.ID and corlearncontent.isdelete=false and clc.isdelete=false 
	
	</select>
	<select id="totalNumberOfCourses" resultType="java.lang.Integer"
		parameterType="map">

		select
		count(*)
		from
		corcourse
		where
		CourseStatus=#{statusId} and
		MemberRoleId=#{memberPersonaId} and
		IsDelete = 0


	</select>
	<select id="getCoursesByCoursename" resultType="java.lang.Integer" parameterType="map">
		select
		COUNT(name)
		
		from
		corcourse
		where
		name = #{courseName} and
		CourseStatus=#{statusId} and
		MemberRoleId=#{memberPersonaId} and
		IsDelete = 0 and id != #{courseId} 
	</select>
	
	<insert id="saveCurriculamCourse" parameterType="map">
		INSERT INTO corcurriculumcourse (CreationDate, Active,PrescribedDurationUnit, ProgramCurriculumId,courseId, MemberRoleId) VALUES(now(),1,1, 3,#{courseId}, #{memberRoleId})
	</insert>
	
	<insert id="saveAndEnableCourse" parameterType="int">
		INSERT INTO sbnsubscriptioncourse (MemSubscriptionProgId, CurriculumCourseId) VALUES( 4, (select id from corcurriculumcourse where courseId=#{courseId}));
	</insert>
	
	
	
	<resultMap id="mapCourseResult" type="com.ziksana.domain.course.Course">
	
		<result property="coursesId" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="memberRoleId" column="memberRoleId" />

	</resultMap>
	
	<resultMap id="courseResultMap" type="com.ziksana.domain.course.Course">

		<result property="courseId" column="id" />
		<result property="coursesId" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="Rating" column="courseProgress" />
		<result property="thumbnailPicturePath" column="thumbnailPicturePath"/>
		<result property="duration" column="CourseDuration"/>
		<result property="durationUnits" column="CourseDurationUnit"/>

	</resultMap>

</mapper>