<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.LearningComponentMapper">
	<sql id="Base_Column_List"> learningcomponentid, validfrom, validto, coursestatus,
		weightage, totalcredits, extracreditsindicator, extracredits,
		learningobjectindicator, thumbnailpicturepath, courseid, memberroleid,
		learningcomponenttypeid, subjclassificationid
	</sql>
	<insert id="saveLearningComponent" parameterType="com.ziksana.domain.course.LearningComponent"
		useGeneratedKeys="true" keyProperty="learningComponentId" keyColumn="learningcomponentid">
		insert into corlearningcomponent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null"> name, </if>
			<if test="description != null"> description, </if>
			<if test="validFrom != null"> validfrom, </if>
			<if test="validTo != null"> validto, </if>
			<if test="courseStatus != null"> coursestatus, </if>
			<if test="weightage != null"> weightage, </if>
			<if test="totalCredits != null"> totalcredits, </if>
			<if test="extraCreditsIndicator != null"> extracreditsindicator, </if>
			<if test="extraCredits != null"> extracredits, </if>
			<if test="learningObjIndicator != null"> learningobjectindicator, </if>
			<if test="thumbnailPicturePath != null"> thumbnailpicturepath, </if>
			<if test="prescribedDuration != null"> prescribedlcduration, </if>
			<if test="prescribedDuration != null"> PrescribedLCDurationUnit, </if>
			<if test="authoredMember != null"> memberroleid, </if>
			<if test="learningComponentType != null"> learningcomponenttypeid, </if>
			<if test="subjClassificationId != null"> subjclassificationid, </if>
		</trim>
		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			<if test="name != null"> #{name,jdbcType=VARCHAR}, </if>
			<if test="description != null"> #{description,jdbcType=VARCHAR}, </if>
			<if test="validFrom != null"> #{validFrom,jdbcType=DATE}, </if>
			<if test="validTo != null"> #{validTo,jdbcType=DATE}, </if>
			<if test="courseStatus != null"> #{courseStatusId,jdbcType=INTEGER}, </if>
			<if test="weightage != null"> #{weightage,jdbcType=INTEGER}, </if>
			<if test="totalCredits != null"> #{totalCredits,jdbcType=VARCHAR}, </if>
			<if test="extraCreditsIndicator != null"> #{extraCreditsIndicator,jdbcType=BOOLEAN}, </if>
			<if test="extraCredits != null"> #{extraCredits,jdbcType=VARCHAR}, </if>
			<if test="learningObjIndicator != null"> #{learningObjIndicator,jdbcType=BOOLEAN}, </if>
			<if test="thumbnailPicturePath != null"> #{thumbnailPicturePath,jdbcType=VARCHAR}, </if>
			<if test="prescribedDuration != null"> #{prescribedDuration.duration,jdbcType=INTEGER}, </if>
			<if test="prescribedDuration != null"> #{prescribedDuration.durationUnit,jdbcType=INTEGER}, </if>
			<if test="authoredMember != null"> #{authoredMember.memberRoleId,jdbcType=INTEGER}, </if>
			<if test="learningComponentType != null">
				#{learningComponentType.learningComponentTypeId.storageID,jdbcType=INTEGER},
			</if>
			<if test="subjClassificationId != null">
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="learningComponentId" resultType="int"
			order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	<update id="updateLearningComponent" parameterType="com.ziksana.domain.course.LearningComponent">
		update corlearningcomponent
		<set>
			<if test="name != null">name= #{name,jdbcType=VARCHAR}, </if>
			<if test="description != null">description= #{description,jdbcType=VARCHAR}, </if>
			<if test="validFrom != null"> validfrom = #{validFrom,jdbcType=DATE}, </if>
			<if test="validTo != null"> validto = #{validTo,jdbcType=DATE}, </if>
			<if test="courseStatus != null"> coursestatus = #{courseStatusId,jdbcType=INTEGER}, </if>
			<if test="weightage != null"> weightage = #{weightage,jdbcType=INTEGER}, </if>
			<if test="totalCredits != null"> totalcredits = #{totalCredits,jdbcType=VARCHAR}, </if>
			<if test="extraCreditsIndicator != null"> extracreditsindicator =
				#{extraCreditsIndicator,jdbcType=BOOLEAN},
			</if>
			<if test="prescribedDuration != null">prescribedlcduration=
				#{prescribedDuration.duration,jdbcType=INTEGER},
			</if>
			<if test="prescribedDuration != null">PrescribedLCDurationUnit=
				#{prescribedDuration.durationUnit,jdbcType=INTEGER},
			</if>
			<if test="extraCredits != null"> extracredits = #{extraCredits,jdbcType=VARCHAR}, </if>
			<if test="learningObjIndicator != null"> learningObjectIndicator =
				#{learningObjIndicator,jdbcType=BOOLEAN},
			</if>
			<if test="thumbnailPicturePath != null"> thumbnailpicturepath =
				#{thumbnailPicturePath,,jdbcType=VARCHAR},
			</if>
			<if test="authoredMember != null">
				memberroleid=#{authoredMember.memberRoleId,jdbcType=INTEGER},
			</if>
			<if test="learningComponentType != null">
				learningComponentTypeId=#{learningComponentType.learningComponentTypeId.storageID,jdbcType=INTEGER},
			</if>
			<if test="subjClassificationId != null"> subjclassificationid =
				#{subjClassificationId,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{learningComponentId.storageID,jdbcType=INTEGER}
	</update>
</mapper>