<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.course.LearningComponentContentMapper">
	<sql id="Base_Column_List">
		ID, creationdate,
		coursestatus,
		contenttype,contentdescription, active,
		contentversionused,
		learningcomponentid, synchronizewithvideoid, learningcontentid
	</sql>
	<insert id="saveLearningComponentContent" parameterType="com.ziksana.domain.course.LearningComponentContent"
		useGeneratedKeys="true" keyProperty="learningComponentContentId"
		keyColumn="ID">
		insert into corlearningcomponentcontent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			creationdate,
			<if test="courseStatus != null">
				coursestatus,
			</if>
			<if test="compContentType != null">
				compContentType,
			</if>
			<if test="contentDescription != null">
				contentdescription,
			</if>
			<if test="active != null">
				active,
			</if>
			<if test="contentVersionUsed != null">
				contentversionused,
			</if>
			<if test="learningComponent != null">
				learningcomponentid,
			</if>
			<if test="synchronizeWithVideo != null">
				synchronizewithvideoid,
			</if>
			<if test="baseLearningContent != null">
				learningcontentid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			sysdate(),
			<if test="courseStatus != null">
				#{courseStatusId,jdbcType=INTEGER},
			</if>
			<if test="compContentType != null">
				#{compContentTypeId,jdbcType=INTEGER},
			</if>
			<if test="contentDescription != null">
				#{contentDescription,jdbcType=VARCHAR},
			</if>
			<if test="active != null">
				#{active,jdbcType=BIT},
			</if>
			<if test="contentVersionUsed != null">
				#{contentVersionUsed,jdbcType=INTEGER},
			</if>
			<if test="learningComponent != null">
				#{learningComponent.learningComponentId.storageID,jdbcType=INTEGER},
			</if>
			<if test="synchronizeWithVideo != null">
				#{synchronizeWithVideo.learningComponentContentId.storageID,jdbcType=INTEGER},
			</if>
			<if test="baseLearningContent != null">
				#{baseLearningContent.learningContentId.storageID,jdbcType=INTEGER},
			</if>
		</trim>
		<selectKey keyProperty="learningComponentContentId"
			resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<insert id="insertLearningComponentContent" parameterType="java.util.List" >
	INSERT INTO my_table
	   (ID_ITEM,
	    ATT1,
	    ATT2)
	    VALUES
	   <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	    #{item.idItem, jdbcType=BIGINT},
	    #{item.att1, jdbcType=INTEGER},
	    #{item.att2, jdbcType=STRING}
	   </foreach>   
	</insert>

	<update id="updateLearningComponentContent" parameterType="com.ziksana.domain.course.LearningComponentContent">
		update corlearningcomponentcontent
		<set>
			<if test="courseStatus != null">
				coursestatus = #{courseStatusId,jdbcType=INTEGER},
			</if>
			<if test="compContentType != null">
				compContentType = #{contentTypeId,jdbcType=INTEGER},
			</if>
			<if test="contentDescription != null">
				contentdescription =
				#{contentDescription,jdbcType=VARCHAR},
			</if>
			<if test="active != null">
				active = #{active,jdbcType=BOOLEAN},
			</if>
			<if test="contentVersionUsed != null">
				contentversionused =
				#{contentVersionUsed,jdbcType=INTEGER},
			</if>
			<if test="learningComponent != null">
				learningcomponentid =
				#{learningComponent.learningComponentId.storageID,jdbcType=INTEGER},
			</if>
			<if test="baseLearningContent != null">
				learningcontentid =
				#{baseLearningContent.learningContentId.storageID,jdbcType=INTEGER},
			</if>
		</set>
		where ID =
		#{learningComponentContentId.storageID,jdbcType=INTEGER}
	</update>
</mapper>