<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.subscription.SubscriptionMapper">

	<select id="getLearnerNotes" resultMap="learnerNotesResultMap"
		parameterType="map">


		select notes.*
		from
		sbnsubscribernotes notes join
		sbnmembersubscriptionprogram program on
		notes.MemSubscriptionProgId=program.MemSubscriptionProgId
		join sbnsubscriptioncourse sbn on
		sbn.SubscriptionCourseId=notes.SubscriptionCourseId 
		join corcurriculumcourse cor on
		cor.CurriculumCourseId = sbn.CurriculumCourseId
		join corlearningcomponentcontent corlc on
		notes.LearningComponentContentId=corlc.LearningComponentContentId 
		where
		notes.LearningComponentId=#{learnCompId} and
		corlc.LearningComponentId=#{learnCompId} and 
		corlc.LearningContentId=#{learnCmpContId} and
		cor.CourseId=#{subscrCourseId} and
		program.MemberRoleId=#{memberRoleId} and 
		notes.NotesType=#{type}

	</select>


	<select id="getEducatorNotes" resultMap="notesResultMap"
		parameterType="map">


		
		
		
		select
		cntenr.LinkElement,
		cntenr.LinkDescription as NotesContent

		from
		corcontentenrichment cntenr
		JOIN
		corenrichment enr ON
		cntenr.enrichmentid= enr.enrichmentId
		JOIN
		sbnsubscriptioncourse sbncourse ON
		sbncourse.CurriculumCourseId=enr.CurriculumCourseId
		JOIN
		sbnmembersubscriptionprogram subprgm ON
		sbncourse.MemSubscriptionProgId=subprgm.MemSubscriptionProgId
		where
		cntenr.LinkType = 8
		<if test="subscrCourseId != null">
		AND enr.CourseId=#{subscrCourseId} 
		</if>
		and 
		enr.LearningComponentId=#{learnCompId} and 
		enr.LearningContentId=#{learnCmpContId} and 
		subprgm.MemberRoleId=#{memberRoleId}
		
		
		
		

	</select>
	
	
	
	<select id="getEducatorReferences" resultMap="refResultMap"
		parameterType="map">


		
		
		
		select
		cntenr.LinkElement,
		cntenr.uri 

		from
		corcontentenrichment cntenr
		JOIN
		corenrichment enr ON
		cntenr.enrichmentid= enr.enrichmentId
		JOIN
		sbnsubscriptioncourse sbncourse ON
		sbncourse.CurriculumCourseId=enr.CurriculumCourseId
		JOIN
		sbnmembersubscriptionprogram subprgm ON
		sbncourse.MemSubscriptionProgId=subprgm.MemSubscriptionProgId
		where
		cntenr.LinkType = 1
		<if test="subscrCourseId != null">
		AND enr.CourseId=#{subscrCourseId} 
		</if>
		and 
		enr.LearningComponentId=#{learnCompId} and 
		enr.LearningContentId=#{learnCmpContId} and 
		subprgm.MemberRoleId=#{memberRoleId}
		
		
		
		

	</select>
	
	
	
	
	
	
	


	<select id="getContentByType" resultMap="notesResultMap" parameterType="map">

		select *
		from
		sbnsubscribernotes notes join
		sbnmembersubscriptionprogram program on
		notes.MemSubscriptionProgId=program.MemSubscriptionProgId
		where
		notes.SubscriptionCourseId=#{subscrCourseId} and
		notes.LearningComponentId=#{learnCompId} and 
		notes.LearningComponentContentId=#{learnCmpContId} and 
		program.MemberRoleId=#{memberRoleId} and 
		notes.NotesType=#{noteType}
		
	</select>



	<insert id="addNote" parameterType="com.ziksana.domain.course.subscription.Note"
		useGeneratedKeys="true" keyProperty="SubcribeNotesId">

		insert into
		sbnsubscribernotes(CreationDate, NoteTitle, NoteDescription, NoteDuration, NotesType,NotesContent,SubscriptionCourseId,LearningComponentId,LearningComponentContentId,MemSubscriptionProgId)
		values(now(), #{noteTitle}, #{noteDescription}, #{noteDuration}, #{type},#{content},
		(select subscriptioncourseid
		from
		sbnsubscriptioncourse subcourse,corcurriculumcourse curcourse
		where
		subcourse.CurriculumCourseId=curcourse.CurriculumCourseId and
		curcourse.CourseId=#{courseId}),
		#{learnCompId},
		(select LearningComponentContentId from corlearningcomponentcontent where 
		LearningComponentId=#{learnCompId} and  LearningContentId=#{learnCmpContId}
		),
		(select
		memsubscriptionprogid
		from
		sbnmembersubscriptionprogram
		where
		memberroleid=#{memberRoleId})
		)



	</insert>




	<resultMap id="notesResultMap" type="com.ziksana.domain.course.EducatorNote">

		<result property="title" column="LinkElement" />
		<result property="description" column="NotesContent" />

	</resultMap>
	
	<resultMap id="refResultMap" type="com.ziksana.domain.course.Reference">

		<result property="title" column="LinkElement" />
		<result property="uri" column="uri" />
		<!-- URI needs to be added here  -->

	</resultMap>
	
	
	<resultMap id="learnerNotesResultMap" type="com.ziksana.domain.course.subscription.Note">

		<result property="noteTitle" column="NoteTitle" />
		<result property="noteDescription" column="NoteDescription" />
		<result property="noteDuration" column="NoteDuration" />

	</resultMap>
	
	
	

</mapper>