<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ziksana.persistence.announcements.AnnouncementMapper">

	<select id="getAnnouncement" resultMap="announcementResultMap"
		parameterType="int">
		SELECT * FROM corannouncement WHERE MemberRoleId = #{memberRoleId} 
	</select>
		
	<select id="getAnnouncementById" resultMap="announcementResultMap"
		parameterType="map">
		SELECT * FROM corannouncement WHERE MemberRoleId = #{memberRoleId} and #{announcementId}
	</select>
	
	<select id="getAllAnnouncements" resultMap="announcementResultMap"
		parameterType="int">
		SELECT * FROM corannouncement WHERE MemberRoleId = #{memberRoleId} 
	</select>
	
			<select id="getInstitutionAnnouncements" resultMap="announcementResultMap"  parameterType="map">
				SELECT * FROM corannouncement WHERE 
				InstitutionId is not null and 
				MemberRoleId = #{memberRoleId} AND 
				AnnouncementDate between  #{startDate}  and  #{endDate}
				
			</select>
		
			<select id="getInstitutionUnitAnnouncements" resultMap="announcementResultMap"
				parameterType="map">
				SELECT * FROM corannouncement WHERE InstitutionUnitId is not null and MemberRoleId = #{memberRoleId} AND AnnouncementDate between #{startDate} AND #{endDate}
			</select>
				
			<select id="getCourseAnnouncements" resultMap="announcementResultMap"
				parameterType="map">
				SELECT * FROM corannouncement WHERE courseid is not null and MemberRoleId = #{memberRoleId} AND AnnouncementDate between #{startDate} AND #{endDate}
			</select>
			

	<resultMap id="announcementResultMap" type="com.ziksana.domain.announcements.Announcement">
		<result property="announcementId" column="anouncementId" />
		<result property="announcementDate" column="AnnouncementDate" />
		<result property="message" column="Message" />
		<result property="description" column="description"/>
		<result property="messageVisibility" column="MessageVisibility" />
		<result property="validUntil" column="ValidUntil" />
		<result property="memberRoleId" column="MemberRoleId" />
		<result property="institutionId" column="InstitutionId" />
		<result property="institutionUnitId" column="InstitutionUnitId" />
		<result property="curriculumCourseId" column="CurriculumCourseId" />
		<result property="learningProgramId" column="LearningProgramId" />
		<result property="courseId" column="CourseId" />
		<result property="courseLearningComponentId" column="CourseLearningComponentId" />

	</resultMap>


	<insert id="createAnnouncement" parameterType="com.ziksana.domain.announcements.Announcement"
		useGeneratedKeys="true" keyProperty="announcementId">
		INSERT INTO corannouncement
		(AnnouncementId,AnnouncementDate,Message,MessageVisibility,ValidUntil,MemberRoleId,InstitutionId,InstitutionUnitId,CurriculumCourseId,LearningProgramId,CourseId,CourseLearningComponentId)
		VALUES
		(#{announcementId},#{announcementDate},#{message},#{messageVisibility},#{validUntil},#{memberRoleId},#{institutionId},#{institutionUnitId},#{curriculumCourseId},#{LearningProgramId},#{courseId},#{courseLearningComponentId})

	</insert>


	<update id="updateAnnouncement" parameterType="com.ziksana.domain.announcements.Announcement">
		UPDATE
		corannouncement
		SET Message= #{message} WHERE AnnouncementId =
		#{announcementId}
	</update>

	<delete id="deleteAnnouncement" parameterType="int">
		DELETE FROM
		corannouncement WHERE AnnouncementId = #{announcementId}
	</delete>
</mapper>
